html {
  font-family: "微软雅黑"
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child + html .clearfix {
  zoom: 1;
}

.text-indent-2 {
  text-indent: 2em;
}

.padding-top-10 {
  padding-top: 10px !important;
  padding-bottom: 15px !important;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.page-mar-top {
  margin-top: 74px;
}

nav {
  background-color: #f7f7f7;
  font-weight: 600;
}

nav ul a {
  color: #333;
}

body > nav {
  position: fixed;
  top: 0;
  z-index: 999;
}

/* Rules for using icons as black on a light background. */
/* inactive--无效 */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.64);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/*first page nav icon to right */
nav .button-collapse {
  float: right;
}

/*first page nav logo to left*/
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 0%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

nav a i.md-dark {
  color: #000;
}

.md-grey {
  color: #81919c;
}

.md-light {
  color: rgba(0, 0, 0, .26);
}

.logo-img-head {
  width: 8rem;
  height: 100%;
  position: relative;
  top: 4px;
}

.logo-img {
  width: 5.2rem;
}

.footer.page-footer .footer-copyright {
  /*height: 100px;*/
}

.footer.page-footer .footer-copyright span {
  font-size: .6rem;
  text-align: center;
  white-space: nowrap;
}

.footer.page-footer .footer-copyright a {
  font-size: .75rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.3rem;
}

.footer-img {
  /*margin: 0 0.9rem;*/
  margin: 0 0.7rem;
  width: 2rem;
}

.footer-span {
  margin: 0 0.3rem;
}

.sroom-title {
  font-size: 20px;
  color: #ffffff;
}

.sroom-title .small {
  font-size: 18px;
}

.index-swiper-container {
  height: auto;
  margin-top: 56px;
}

.job-card {
  background-color: #36474F;
}

.job-img {
  width: 8rem;
  margin-top: 2rem;
}

.job-text {
  margin-top: 1.5rem;
}

.job-web-left {
  width: 8rem;
  height: 8rem;
  background-color: #4385F5;
}

.job-web-h5 {
  padding: 3rem 0;
}

.job-web-text {
  margin-top: 1.5rem;
}

.job-web-text-span {
  font-size: 21px;
  color: #333333;
}

.job-web-text-p {
  font-size: 1rem;
  color: #81919c;
}

.job-ext-css {
  min-height: 10rem !important;
  line-height: 2rem !important;
  padding: 0 !important;
}

/*swiper style reset*/
.swiper-pagination > span.swiper-pagination-bullet {
  width: 22px;
  height: 4px;
  display: inline-block;
  border-radius: 0;
  background: #ebebeb;
  opacity: 1;
  /*opacity:.2;*/
}

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination > span.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

/*new-index page*/
body {
  background-color: #fff;
}

.wrap-content {
  padding: 4% 0;
}

.section-index-1 > .container {
  /*margin-bottom:-30px;*/
  border-bottom: 1px solid #ccc;
}

.section_bigbanner_container {
  /*padding-top:6%;*/
  margin-top: 64px;
  /*padding-bottom:6%;*/
  padding-bottom: 50px;
  text-align: right;
}

.banner-text-height {
  height: 150px;
  line-height: 150px;
}

.news-section {
  position: relative;
  text-align: center;
  transition: all .3s ease 0s;
  height: 340px;
  margin-bottom: 56px;
}

.news-section:hover .news-data {
  color: #00889e;
  border-bottom: 1px solid #00889e;
}

.news_image {
  margin-bottom: 6%;
  position: relative;
  width: 100%;
}

.main-title {
  /*color:#648ea3 !important;*/
  color: #333 !important;
}

.news-title {
  font-size: 1rem;
  width: 90%;
}

.news-info {
  margin-top: 4%;
  font-size: .875rem;
}

.news-data-contain {
  position: absolute;
  bottom: -20px;
  left: 0;
  padding: 0 15px;
  width: 100%;
}

.news-data {
  font-size: .625rem;
  text-align: right;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.section_text {
  margin-top: 10%;
}

.section_text_2 {
  margin-top: 5%;
}

.section1text1_font {
  font-size: 1.5rem;
  /*color:#648ea3;*/
  color: #555;
  font-weight: 700;
}

.section1text2_font {
  font-size: 1rem;
  padding-top: 2rem;
}

/*.section1text2_font ol{margin-left:-20px;font-size:12px;}*/
.text-content {
  /*color:#81919c;*/
  color: #666;
}

.index-wrap-content .section_text_1_image {
  padding: 6%;
  padding-bottom: 0;
}

.index-wrap-content .section_text_2_image {
  padding: 6%;
  padding-top: 3%;
}

/*footer-old*/
.footer {
  background: rgba(53, 53, 53, 1);
  font-size: .875rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #fff;
}

.footer .row > div {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.footer_col {
  color: #f6f3f6;
  text-align: center;
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.footer_title {
  padding-bottom: .3rem;
}

.footer_title a {
  color: #ccc !important;
  font-size: .875rem;
  padding-bottom: .5rem;
}

.vertical_line {
  height: 8rem;
  /*width:.08rem;*/
  width: 1px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.weixin {
  text-align: center;
}

.weixin.current {
  opacity: .8;
}

.weixin .inner {
  display: inline-block;
  overflow: hidden;
}

.weixin .footer_col {
  float: left;
  margin-left: 32px;
}

.footer_col {
  color: #f6f3f6;
  text-align: center;
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.footer_col:first-child {
  margin-left: 0;
}

.bar_code {
  /*padding-top:1rem;*/
  width: 90px;
  height: 90px;
}

.weibo_text {
  margin-top: 10px;
}

.footer_image {
  width: 1.4rem;
  height: 1.4rem;
}

.footer_telephone {
  color: #ccc !important;
  font-size: 18px;
  font-size: 1.125rem;
  padding-bottem: .5rem;
}

.footer_small {
  color: #ccc !important;
  font-size: 12px;
  font-size: .75rem;
  font-weight: 700;
  padding-bottom: .5rem;
}

/*---------------new footer by 2016/9/29--------------------*/
.my-footer {
  background-color: #E0E0E0;
}

.footer-copyright {
  background-color: #0b2f47;
  color: #66869b;
  font-size: 12px;
}

.my-footer .container {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.footer-left-head-logo {
  width: 8rem;
  margin-bottom: 2rem;
}

.footer-right-head-logo {
  width: 8rem;
  margin-bottom: 2rem;
  visibility: hidden;
}

.footer-logo img {
  width: 100%;
}

.my-footer ul li {
  list-style: none;
}

.my-footer ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

.my-footer .footer-left-content li {
  padding-right: 10px;
}

.my-footer .footer-right-content {
  /*padding-top:2.4rem;*/
}

.my-footer .footer-right-content li {
  position: relative;
  margin-right: 2rem;
  width: 24px;
  height: 24px;
}

.my-footer .footer-right-head-text {
  margin: 1rem 0;
}

.my-footer .footer-left-content li a {
  color: #E2EBF0;
}

.my-footer .footer-right-head-text {
  color: #E2EBF0;
}

.my-footer .footer-left-content p {
  color: #66869b;
  font-size: 12px;
}

.my-footer .footer-right-content li:nth-child(1) a {
  background: url("../images/svg/xiaoxiang.svg") no-repeat;
}

.my-footer .footer-right-content li:nth-child(4) a {
  background: url("../images/svg/wechat.svg") no-repeat;
}

.my-footer .footer-right-content li:nth-child(3) a {
  background: url("../images/svg/jianyu.svg") no-repeat;
}

.my-footer .footer-right-content li:nth-child(2) a {
  background: url("../images/svg/huohu.svg") no-repeat;
}

.my-footer .footer-right-content .qrcode {
  display: none;
  position: absolute;
  top: -92px;
  z-index: 6;
  width: 90px;
  height: 90px;
  background: url("../images/weixin.jpg") no-repeat;
  background-size: contain;
}

.my-footer hr {
  color: #d9e4eb;
}

.my-footer .iqrcode {
  width: 8rem;
  height: 8rem;
}

.my-footer .iqrcode-head {
  height: 2.4rem;
  line-height: 2.4rem;
  color: #E2EBF0;
}

/*copyright*/
.copyright,
.copyright a {
  background: rgba(53, 53, 53, 1);
  font-size: .75rem;
  text-align: center;
  color: #ccc !important;
  padding-top: 1rem;
  padding-bottom: 1.3rem;
}

.copyright span {
  font-size: .6rem;
  white-space: nowrap;
}

@media only screen and (max-width: 992px) {
  .footer .row .hidden-s {
    /*visibility: hidden;*/
    display: none;
  }
}

@media (max-width: 992px) {
  .news-section {
    height: auto;
  }
}

@media (min-width: 1400px) {
  .news-section {
    height: 380px;
  }
}

@media (min-width: 1800px) {
  .news-section {
    height: 400px;
  }
}

.wrap-content-newsCenter {
}

/*cloudPlatform page*/
.cloud-section-content {
  height: auto;
}

/*about page*/
.about {
  margin-bottom: 40px;
}

.about .gsgs,
.about .jsyy,
.about .lxwm,
.shardware .znjg,
.shardware .zyyw {
  width: 100%;
  box-shadow: none;
}

.about ul li,
.shardware ul li {
  width: 100%;
}

.about .collapsible-a-header {
  position: relative;
  text-align: center;
  width: 100%;
  height: 0;
  padding-bottom: 100% !important;
  background-color: #ccc;
}

.shardware .collapsible-s-header {
  position: relative;
  text-align: center;
  width: 100%;
  height: 0;
  padding-bottom: 72% !important;
  background-color: #ccc;
}

.about .collapsible-a-header .ckxq {
  position: absolute;
  bottom: 24px;
  left: 50%;
  z-index: 10;
  margin-left: -30px;
  width: 60px;
  height: 24px;
  color: #fff;
  text-align: center;
}

.shardware .collapsible-s-header .ckxq {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 10;
  margin-left: -30px;
  width: 60px;
  height: 24px;
  color: #eee;
  text-align: center;
}

.about .gsgs .collapsible-a-header .inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #3F80D8;
  padding: 30%;
  padding-top: 25%;
  overflow: hidden;
}

.about .jsyy .collapsible-a-header .inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ebb050;
  padding: 25%;
  overflow: hidden;
}

.about .lxwm .collapsible-a-header .inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #52AD7B;
  padding: 22%;
  padding-top: 30%;
  overflow: hidden;
}

.shardware .znjg .collapsible-s-header .inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #44484A;
  padding: 38%;
  padding-top: 14%;
  overflow: hidden;
}

.shardware .zyyw .collapsible-s-header .inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #3660ef;
  padding: 38%;
  padding-top: 14%;
  overflow: hidden;
}

.about .collapsible-a-body,
.shardware .collapsible-s-body {
  padding: 6px;
  background-color: #eee;
  display: block;
}

.about .collapsible-a-body .title
.shardware .collapsible-s-body .tilte {
  height: 2rem;
  line-height: 2rem;
}

.about .gsgs .collapsible-a-body .content,
.shardware .zyyw .collapsible-s-body .content {
  height: 184px;
  overflow: auto;
}

.about .jsyy .collapsible-a-body .content,
.about .lxwm .collapsible-a-body .content,
.shardware .znjg .collapsible-s-body .content {
  height: 184px;
  overflow: auto;
}

/*job page*/
.collapsible-body-job {
  display: block;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.collapsible-body-job p {
  margin: 0;
  padding: 2rem;
}

.container-job-top {
  margin-top: 48px;
}

.container-job-top .collapsible {
  box-shadow: none;
}

.job-card {
  background-color: #0b2f47;
}

.job-img {
  width: 8rem;
  margin-top: 2rem;
}

.job-text {
  margin-top: 1.5rem;
}

.job-web-left {
  width: 8rem;
  height: 8rem;
  background-color: #2196f3;
}

.job-web-h5 {
  padding: 3rem 0;
}

.job-web-text {
  margin-top: 1.5rem;
}

.job-web-text-span {
  font-size: 21px;
  color: #333333;
}

.job-web-text-p {
  font-size: 1rem;
  /*color: #81919c;*/
  color: #333;
}

.job-ext-css {
  min-height: 10rem !important;
  line-height: 2rem !important;
  padding: 0 !important;
}

/*news-detail page*/
.news-title {
  font-size: 1.1rem;
  color: #003b6f;
  margin-top: 15px;
}

.news-sub {
  border-bottom: 1px solid #e3e3e3;
  margin: 24px 0 32px;
  padding-bottom: 8px;
  padding-left: 8px;
}

.news-sub .time {
  color: #696969;
}

.wrap-content-news .breadcrumb {
  font-size: 1rem;
  background: #edf5f9;
  border-radus: 0;
  margin-bottom: 24px;
}

.wrap-content-news .breadcrumb li {
  display: inline-block;
}

.wrap-content-news .breadcrumb .active {
  color: #777;
}

.wrap-content-news .breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/"
}

/*solution page*/
.text-content-solution {
  margin-top: 1rem;
  /*color:#6b7984;*/
  color: #666;
}

/*wlw page*/
.wlw-title {
  position: relative;
  font-size: 26px;
  color: #2e2f31;
  margin: 1rem 0 0 2.5rem;
}

.wlw-top-msg {
  margin-top: 64px;
  /*background-color:#eef6e7;*/
}

.function {
  float: left;
  width: 50%;
}

.container .wlw_co_w {
  width: 95%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .container .wlw_co_w {
    width: 100%;
  }
}

/* 2016-10-14 首页banner测试改版*/
.section-bigbanner {
  position: relative;
  height: 100%;
  color: #fbfcfc;
  overflow: hidden;
}

.section-bigbanner .container {
  width: 60%;
  height: 40%;
  position: absolute;
  top: 28%;
  left: 20%;
}

.section-bigbanner .container img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 992px) {
  .section-bigbanner {
    height: 600px;
  }

  .section-bigbanner .container {
    width: 70%;
    height: 40%;
    position: absolute;
    top: 45%;
    left: 15%;
  }
}

/*.section-bigbanner .parallax{*/
/*position:absolute;*/
/*width:100%;*/
/*height:100%;*/
/*z-index:-1;*/
/*}*/
.section-bigbanner .parallax img {
  display: block;
}

.section-bigbanner .mouse {
  position: absolute;
  width: 27px;
  height: 43px;
  bottom: 140px;
  left: 50%;
  margin-left: -13px;
}

.background-style {
  width: 80px;
  height: 3px;
  background-color: #03A9F4;
  margin: 20px auto;
}

.background-style-1 {
  width: 80px;
  height: 3px;
  background-color: #03A9F4;
  margin: 10px 0 10px 0px;
}

@media only screen and (max-width: 600px) {
  .section-bigbanner {
    max-height: 300px;
  }

  .section-bigbanner .parallax img {
    display: none;
  }

  .section-bigbanner .parallaxImg:before {
    background-color: #fff;
    background-image: url("../images/test02-mobile.jpg");
    background-position-x: center;
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .section-bigbanner .container {
    width: 80%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 10%;
  }

  .section-bigbanner .mouse {
    position: absolute;
    bottom: 14px;
    display: none;
    left: 50%;
    margin-left: -13px;
  }
}

.nav-index-test {
  background-color: rgba(247, 247, 247, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}

.section-index-0 {
  color: #dfe0e0;
}

.section-index-0 .title {
  /*color:#648ea3;*/
  color: #333;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: 微软雅黑;

}

.section-index-0 .title-2 {
  color: #FFFFFF;
  letter-spacing: 0.4rem;
  padding: 16px 20px;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 微软雅黑;
}

.section-index-0 .subtitle {
  /*color:#81919c;*/
  color: #424647;
  font-size: 1rem;
  margin-bottom: 20px;
  /*text-indent:2em;*/
}

.section-index-0 .card-title {
  font-size: 1.4rem;
  color: #2a3033;
  font-weight: 700;
}

.about-medium-1-1 {
  border-right: 3px solid #C9CBCA;
  height: 500px;
  margin-top: 50px;
}

.about-medium-1-three {
  height: 500px;
  margin-top: 50px;
}

.footer-font-size {
  font-size: 14px;
  margin-top: 60px;
  font-weight: 700;
}
.footer-font-size-3 {
  font-size: 14px;
  font-weight: 700;
}

.footer-font-size-1 {
  font-size: 14px;
  font-family: 微软雅黑;
}

.footer-font-size-2 {
  width: 100%;
}

.about-font-modulation {
  margin-top: 18px;
}

@media only screen and (min-width: 600px) {
  .section-index-0 .row .col.m2 {
    width: 20%;
  }
}

.section-index-0 .card-icon {
  display: inline-block;
  width: 160px;
  height: 140px;
  text-align: center;
}

.section-index-0 .card-icon1 {
  display: inline-block;
  width: 120px;
  height: 160px;
  text-align: center;
}

.section-index-0 .card-icon2 {
  display: inline-block;
  width: 120px;
  height: 154px;
  text-align: center;
}

.picture-size-4 {
  display: inline-block;
  text-align: center;
}

.picture-size-5 {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin: 30px auto;
}

.picture-size-3 {
  display: inline-block;
  width: 150px;
  text-align: center;
}

.picture-size-2 {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
}

.picture-size-1 {
  display: inline-block;
  width: 67px;
  text-align: center;
}

.section-index-0 .card-icon img {
  width: 80%;
}

.img-size {
  width: 50% !important;
}

.section-index-0 .card-text {
  /*color:#81919c;*/
  color: #424647;
  font-size: 14px;

}

.hide-for-medium-only {
  width: 65%;
  height: 60px;
  background: #424647;
  margin: -60px auto 0 auto;
  position: relative;
}

.medium-only {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 4rem;
}

.page-links {
  float: left;
}

.page-links-li {
  float: left;
  list-style: none;
  padding: 0 30px;
}

.medium-1 {
  width: 65%;
  background: #DFE0E0;
  margin: -60px auto 0 auto;
  z-index: 20;
  position: relative;
}

.facilities-medium-1 {
  width: 65%;
  background: #DFE0E0;
  margin: 0px auto 0 auto;
  z-index: 20;
  position: relative;
}

.recruitment-medium-1 {
  width: 65%;
  margin: 0px auto;
  background: #DFE0E0;
  position: relative;
  z-index: 20;
}

.recruitment-medium-2 {
  width: 65%;
  margin: 30px auto;
  position: relative;
  z-index: 20;
}

.medium-6 {
  width: 65%;
  margin: 40px auto 0 auto;
  z-index: 20;
  position: relative;
  padding-bottom: 0px;
}

.data-platform-medium-1 {
  width: 65%;
  background: #DFE0E0;
  margin: 0 auto;
  padding-bottom: 80px;
}

.data-platform-medium-2 {
  width: 65%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.medium-1-1 {
  width: 65%;
  height: 350px;
  margin: 100px auto 0px auto;
}

.medium-1-1-1 {
  width: 65%;
  height: 100%;
  margin: 0px auto 0 auto;
  background-color: #E0E0E0;
}

.medium-6-img {
  width: 92%;
  height: 100%;
}

.medium-6-img-1 {
  width: 100%;
  height: 100%;
}

.medium-6-img-1 {
  width: 98%;
}

.medium-6-size-1 {
  margin: 10px 0 10px 0px;
  font-size: 1.4rem;
  font-weight: 700;
}

.medium-6-size-2 {
  margin-left: 0px;
  font-size: 1rem;
  margin-bottom: 20px;
}

.medium-6-size-3 {
  font-size: 2rem;
  font-weight: 500;
}

.about-medium-1-1-1 {
  width: 65%;
  height: 100%;
  margin: 65px auto 0 auto;
  background-color: #E0E0E0;
}

.medium-2 {
  width: 100%;
  height: 100%;
  background: #2a3033;
  margin: 80px auto 0px auto;
}

.medium-2-1 {
  width: 65%;
  height: 100%;
  margin: 0px auto;
}

.medium-3 {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  opacity: 1;
  margin: 60px auto;
}

.news-medium-1 {
  width: 100%;
  height: 100%;
  background-image: url(../images/index_03.jpg);
  background-size: 100% 100%;
  padding: 30px;
  margin-top: 50px;
}

.medium-4 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.medium-5 {
  width: 65%;
  height: 100%;
  background-image: url(../images/company-profile.jpg);
  background-size: 100% 100%;
  margin: -20px auto 0px auto;
  padding-bottom: 60px;
  z-index: -2;
  position: relative;
}
.iot-medium-5 {
  width: 65%;
  height: 100%;
  background-image: url(../images/company-profile.jpg);
  background-size: 100% 100%;
  margin: 60px auto 60px auto;
  padding-bottom: 60px;
  padding-top: 60px;
  z-index: 0;
  position: relative;
}
.platform-advantage{
  width: 65%;
  height: 100%;
  background-image: url(../images/platform-advantage.jpg);
  background-size: 100% 100%;
  margin:-20px auto 60px auto;
  padding-bottom: 60px;
  z-index: 0;
  position: relative;
}
.about-medium-5 {
  width: 65%;
  height: 100%;
  background-image: url(../images/about-1.jpg);
  background-size: 100% 100%;
  margin: 5px auto;
}

.button-style {
  margin-top: -10px;
}

.button-style-1 {
  margin-top: 3px;
}

.mouse-1 {
  width: 50px;
  height: 50px;
}

.title-1 {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  font-family: 微软雅黑;
}

.container-banner-content-title {
  color: #FFFFFF;
  font-size: 4.6rem;
  font-weight: 700;
  font-family: 微软雅黑;
}

.container-banner-content-subtitle {
  color: #DEE1E3;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 微软雅黑;
}

.bold-blue {
  color: #03A9F4;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 微软雅黑;
}

.white-font {
  color: #FFFFFF;
}

.about-medium-1 {
  width: 95%;
  height: 85%;
  margin: 0px auto 0 30px;
}

.about-title-1 {
  font-size: 1.4rem;
  font-weight: 800;
  font-family: 微软雅黑;
}

.about-cutting-line {
  width: 100%;
  height: 2px;
  background-color: #DFE1E0;
  margin-top: 80px;
}

.news1 {
  padding-top: 40px;
  font-size: 1.2rem;
  color: #1491CD;
}

.news2 {
  margin-top: 0px;
  font-size: 1.4rem;
  color: #FFFFFF;
}

.news3 {
  margin-top: 0px;
  font-size: 1.2rem;
  color: #FFFFFF;
}

.news4 {
  margin-top: 0px;
  color: #FFFFFF;
  margin-left: 0px;
}

.news5 {
  margin-top: 0px;
  font-size: 1.2rem;
  color: #1491CD;
  float: right;
}

.input-group-field {
  width: 30%;
  font-size: 1rem;
  margin: 0 auto;
}

.industry-medium-2-2 {
  padding-top: 40px;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.text {
  text-align: center;
  padding: 10px 20px;
}

.index-text-background {
  background-color: #03A9F4;
  width: 29%;
  margin: 4rem auto;
  opacity: 0.9;
}

.index-zhinengjiaju {
  color: #FFFFFF !important;
  padding-left: 4px;
  margin: 10px auto;
}

.video-video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-picture-all {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-picture-1 {
  background-image: url(../images/about-1.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.machine-room-monitoring-picture {
  background-image: url(../images/machine-room-monitoring1.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.connection-picture-1 {
  background-image: url(../images/connection-management1.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.micromodule-picture-1 {
  background-image: url(../images/micromodule1.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.electrical-energy-picture {
  background-image: url(../images/electrical-energy1.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.energy-management-picture {
  background-image: url(../images/energy-management1.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.metro-energy-picture {
  background-image: url(../images/metro-energy1.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.photovoltaic-power-generation-picture {
  background-image: url(../images/photovoltaic-power-generation.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.printer-picture {
  background-image: url(../images/printer.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.intelligent-hardware-picture {
  background-image: url(../images/intelligent-hardware.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.environmental-monitoring-picture {
  background-image: url(../images/environmental-monitoring.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.smart-home-picture {
  background-image: url(../images/smart-home.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.smart-bracelet-picture {
  background-image: url(../images/smart-bracelet.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.air-condition-picture {
  background-image: url(../images/air-condition.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.robot-picture {
  background-image: url(../images/robot.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.charging-pile-picture {
  background-image: url(../images/charging-pile.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.accumulation-system-picture {
  background-image: url(../images/accumulation-system.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.wind-power-generation-picture {
  background-image: url(../images/wind-power-generation.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.rack-picture-1 {
  background-image: url(../images/rack1.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.facilities-picture-2 {
  background-image: url(../images/data-center1.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.recruitment-picture-1 {
  background-image: url(../images/banner.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.new-energy-picture {
  background-image: url(../images/new-energy.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.iot-picture {
  background-image: url(../images/iot.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.data-center-picture {
  background-image: url(../images/data-center.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.industry-picture {
  background-image: url(../images/industry4.0.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.power-monitoring-picture {
  background-image: url(../images/electrical-energy.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.video-picture-data-platform {
  background-image: url(../images/data-platform.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}
.framework {
  background-image: url(../images/Framework.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}
.hybrid-cloud-platform-picture1 {
  background-image: url(../images/hybrid-cloud-platform1.jpg);
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.datacenter-margin-top {
  margin-top: -20px;
}

.data-platform-padding {
  width: 90%;
  padding-top: 80px;
}

.index-medium-5-1 {
  width: 80%;
  padding-top: 4px;
  padding-bottom: 0px;
}

.power-monitoring-medium-5-1 {
  width: 90%;
  padding-top: 80px;
}

.industry-medium-1-1 {
  width: 90%;
  padding-top: 70px;
}

.map {
  width: 65%;
  margin: 0 auto 80px auto;
}

.data-center-margin {
  margin: 50px auto;
}

a:link, a:visited {
  color: black;
!important;
}

/*a:hover, a:active {*/
  /*color: #30C0FF;*/
/*!important;*/
/*}*/

a#nav:link, a#nav:visited {
  color: black;
!important;
}

/*a#nav:hover, a#nav:active {*/
  /*color: #26A69A;*/
/*!important;*/
/*}*/

a#hover1:link, a#hover1:visited {
  color: #FFFFFF;
!important;
}

/*a#hover1:hover, a#hover1:active {*/
  /*color: #30C0FF;*/
/*!important;*/
/*}*/

img {
  border: 0
}

div#nav1 {
  background-image: url(../images/svg/dcim.svg);
  background-size: 100% 100%;
  height: 100%;
  border: 0;
}


div#nav2 {
  background-image: url(../images/svg/new-energy.svg);
  background-size: 100% 100%;
  height: 100%;
  border: 0;
}


div#nav3 {
  background-image: url(../images/svg/guangfu.svg);
  background-size: 100% 100%;
  height: 100%;
  border: 0;
}

div#nav4 {
  background-image: url(../images/svg/cloudview.svg);
  background-size: 100% 100%;
  height: 100%;
  border: 0;
}


div#nav5 {
  background-image: url(../images/svg/wulianwang.svg);
  background-size: 100% 100%;
  height: 100%;
  border: 0;
}

div#nav6 {
  background-image: url(../images/svg/dcim-1.svg);
  background-size: 100% 100%;
  height: 100%;
  border: 0;
}

div#nav7 {
  background-image: url(../images/svg/machine-room-monitoring.svg);
  background-size: 100% 100%;
  height: 100%;
  border: 0;
}

div#nav8 {
  background-image: url(../images/svg/micromodule.svg);
  background-size: 100% 100%;
  height: 100%;
  border: 0;
}

div#nav9 {
  background-image: url(../images/svg/IRMC.svg);
  background-size: 100% 100%;
  height: 100%;
  border: 0;
}

div#nav10 {
  background-image: url(../images/svg/connection-management.svg);
  background-size: 100% 100%;
  height: 100%;
  border: 0;
}


.about-img-size-1 {
  width: 43%;
  height: 80%;
  padding-top: 30px;
}

.about-img-size-2 {
  width: 50%;
  height: 80%;
  padding-top: 30px;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  line-height: 3rem;
  position: absolute;
  background-color: #fff;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px 0px;
  font-weight: 200;
  opacity: 1;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.picture-opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000000;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.picture-opacity-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000000;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.news-size {
  background-color: #03A9F4 !important;
  margin: 10px auto !important;
  padding: 0 100px;
  color: #FFFFFF !important;
}

.news-size-1 {
  background-color: #03A9F4 !important;
  margin: 10px auto !important;
  padding: 0 50px;
  color: #FFFFFF !important;
}

.black_overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=88);
}

.white_content {
  display: none;
  position: fixed;
  top: 25%;
  left: 30%;
  width: 40%;
  height: 30%;
  padding: 45px;
  border: 10px solid #dfe0e0;
  /*background-color: white;*/
  z-index: 1002;
  overflow: auto;
}

.index-img-size {
  width: 80% !important;
}

.data-platform-padding-bottom {
  padding-bottom: 6rem;
}

.image-carousel {
  width: 65%;
  margin: -60px auto 0 auto;
}

.image-carousel1 {
  height: 90% !important;
}

.facilities-picture-1 {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.medium-6 .background-color {
  background-color: #dfe0e0;
}

.facilities-management-img {
  background-size: 100% 100% !important;
  height: 100% !important;
  border: 0 !important;
}

.synopsis-img {
  width: 3%;
}

.synopsis-medium-3-1 {
  width: 100%;
  margin-top: 60px;
  background-color: #2B3034;
  padding: 1rem;
}

.footer-padding {
  padding: 0 !important;
}

#nav {
  width: 100%;
  text-align: center;
}

table {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  line-height: 0rem;
}

table tr td {
  white-space: nowrap;
}

.contact-us-title {
  padding: 0px 10%;
  margin-bottom: 0px;
  font-size: 2rem !important;
  font-weight: 700;
}
.contact-us {
  padding: 0px 10%;
  margin-bottom: 0px;
}
.recruit{
  width:80%;
  padding-top:60px;
  padding-bottom:60px;
}
.data-platform{
  font-size: 2rem !important;
  font-family: 微软雅黑;
  padding: 30px;
  color:#03A9F4
}
.blue-block{
  background-image: url(../images/blue1px.jpg);
  background-size: 100% 100%;
  height: 100%;
  width: 65%;
  height: 350px;
  background-color: #3B5FB7;
  margin: auto;
}
.green-block{
  background-image: url(../images/green1px.jpg);
  background-size: 100% 100%;
  height: 100%;
  width: 65%;
  height: 350px;
  background-color: #34D65C;
  margin: auto;
}
.platform-layer{
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  padding-top: 11%;
}
.data-platform1{
  width: 65%;
  margin: 0 auto 60px auto;
}
.framework-picture{
  width: 65%;
  height: 100%;
  margin: 0 auto 60px auto;
}
@media (max-width: 1200px) {
  .container-banner-content-title {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 微软雅黑;
  }

  .container-banner-content-subtitle {
    color: #DEE1E3;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: 宋体;
  }

  .section-index-0 .title {
    color: #333;
    font-size: 1.4rem;
    font-weight: 700;
    padding-top: 10px;
    font-family: 微软雅黑;
  }

  .section-index-0 .title-2 {
    font-size: 1.4rem;
    padding: 20px;
    font-weight: 700;
    font-family: 微软雅黑;
  }

  .index-text-background {
    background-color: #2a3033;
    width: 60%;
    margin: 4rem auto;
  }

  .section-index-0 .subtitle {
    /*color:#81919c;*/
    color: #424647;
    font-size: 0.5rem;
    margin-bottom: 20px;
    /*text-indent:2em;*/
  }

  .medium-1 {
    width: 100%;
    background: #DFE0E0;
    margin: 0px auto 0 auto;
    z-index: 20;
    position: relative;
  }

  .facilities-medium-1 {
    width: 100%;
    background: #DFE0E0;
    margin: 0px auto 0 auto;
    z-index: 20;
    position: relative;
  }

  .medium-2-1 {
    width: 100%;
    height: 100%;
    margin: 0px auto;
  }

  .news1 {
    font-size: 0.5rem;
    color: #1491CD;
    padding-left: 10px;
  }

  .news2 {
    font-size: 0.8rem;
    color: #FFFFFF;
    padding-left: 10px;
    margin-top: 8px;
  }

  .title-1 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    font-family: 微软雅黑;
  }

  .white-size {
    color: #fff !important;
  }

  .news3 {
    font-size: 0.5rem;
    color: #FFFFFF;
    padding-left: 10px;
  }

  .news4 {
    font-size: 0.3rem;
    color: #FFFFFF;
  }

  .news4 img {
    width: 10px;
  }

  .news5 {
    font-size: 0.5rem;
    color: #1491CD;
    float: right;
    padding-right: 10px;
  }

  .input-group-field {
    width: 100%;
    font-size: 0.3rem;
    margin: 0 auto;
  }

  .medium-1-1 {
    width: 80%;
    height: 100%;
  }

  .industry-medium-2-2 {
    padding-top: 40px;
    font-size: 1rem;
    color: #FFFFFF;
  }

  .medium-1-1-1 {
    width: 100%;
    height: 100%;
    margin: 40px auto 40px auto;
    background-color: #E0E0E0;
  }

  .medium-5 {
    width: 100%;
    height: 100%;
    background-image: url(../images/company-profile.jpg);
    background-size: 1200px 100%;
    margin: 5px auto;
    padding-bottom: 0;
    z-index: -2;
  }
  .platform-advantage{
    width: 100%;
    height: 100%;
    background-image: url(../images/platform-advantage.jpg);
    background-size: 1200px 100%;
    margin: 5px auto;
    padding-bottom: 0;
    z-index: 0;
  }
  .about-medium-1-1 {
    height: 100%;
    margin-top: 50px;
  }

  .about-medium-1 {
    width: 100%;
    height: 85%;
    margin: 60px 0 0 0px;
  }

  .about-medium-5 {
    width: 100%;
    height: 100%;
    background-image: url(../images/about-1.jpg);
    background-size: 100% 100%;
    margin: 2px auto;
  }

  .about-medium-1-1-1 {
    width: 100%;
    height: 100%;
    margin: 50px auto 0 auto;
    background-color: #E0E0E0;
  }

  .section-index-0 .card-icon {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 90px;
  }

  .section-index-0 .card-title {
    font-size: 1.4rem;
    color: #2a3033;
    font-weight: 700;
  }

  .section-index-0 .card-text {
    color: #424647;
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 20px;
  }

  .video-video {
    display: none;
    position: absolute;
    width: 530px;
    z-index: -1;
  }

  .video-picture {
    background-image: url(../images/banner.jpg);
    background-size: 100% 100%;
    height: 100%;
    z-index: -1;
  }

  .page-links-li {
    float: left;
    list-style: none;
    padding: 0 0.5rem;
  }

  .data-platform-padding {
    width: 90%;
    padding-top: 0px;
  }

  .map {
    width: 100%;
    margin: 0 auto 80px auto;
  }

  .picture-size-1 {
    display: inline-block;
    width: 60px;
    text-align: center;
  }

  .about-img-size-1 {
    width: 20%;
    height: 80%;
    padding-top: 30px;
  }

  .about-img-size-2 {
    width: 20%;
    height: 80%;
    padding-top: 30px;
  }

  .medium-6-size-3 {
    font-size: 1rem;
    font-weight: 500;
  }

  .news-size {
    background-color: #03A9F4 !important;
    margin: 10px auto !important;
    padding: 0 2rem;
    color: #FFFFFF !important;
  }

  .section-index-0 .card-icon img {
    width: 80%;
  }

  .medium-6-size-2 {
    margin-left: 0px;
    font-size: 1rem;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .white_content {
    display: none;
    position: fixed;
    top: 25%;
    left: 5%;
    width: 92%;
    height: 60%;
    padding: 50px;
    border: 10px solid #dfe0e0;
    /*background-color: white;*/
    z-index: 1002;
    overflow: auto;
  }

  .section-index-0 .row .col {
    padding: 0 13px 0 0px;
  }

  .data-platform-medium-1 {
    width: 100%;
    background: #DFE0E0;
    margin: 0 auto;
    padding-bottom: 80px;
  }

  .data-platform-medium-2 {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 80px;
  }

  .data-platform-padding-bottom {
    padding-bottom: 0rem;
  }

  .footer-font-size-2 {
    margin-left: 0% !important;
    width: 100%;
  }

  .my-footer {
    background-color: #E0E0E0;
    margin-top: 0px;
  }

  .image-carousel {
    width: 100%;
    height: 250px !important;
    margin: -60px auto 0 auto;
  }

  .image-carousel1 {
    height: 87% !important;
  }

  .medium-6 {
    width: 100%;
    margin: 0px auto 0 auto;
    z-index: 20;
    position: relative;
    padding-bottom: 0px;
  }

  .synopsis-img {
    width: 15%;
  }
  .video-picture-all {
    background-size: 100% 100%;
    height: 100%;
    z-index: -1;
  }
  .recruit{
    width:100%;padding:60px 30px;
  }
}

.icon-jitter:hover{
  transform: scale(1.1);
}




