* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.con {
  margin: 100px auto;
  width: 900px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.con ul {
  position: absolute;
  width: 5400px;
}

.con ul li {
  float: left;
  width: 900px;
  height: 350px;
}

.con ol {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
}

.con ol li {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  float: left;
  margin: 0 0 0 10px;
  text-align: center;
  background: #333;
  color: #999;
  cursor: pointer;
}

.con ol .current {
  color: #ff6600;
  border: 1px solid #ff6600;
  font-weight: bold;
}

.leftBtn, .rightBtn {
  width: 40px;
  height: 100px;
  position: absolute;
  background: url(images/index.png) no-repeat;
  top: 50%;
  margin: -50px 0 0 0;
}

.leftBtn {
  left: 0;
}

.rightBtn {
  right: 0;
  background-position: -50px 0px;
}
