doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    include templates/layout/video
    .medium-1(style="height:100%;")
      .container.about-medium-1
        .row
          .col.s12.m4.l4
            div.about-medium-1-1
              p.center.about-title-1(style='padding-top:50px;') 在云联讯工作大有不同
              p(style='padding:0 30px;') 在云联讯工作，创业的氛围让每个人都积极创新，为做出美好的事情而努力，在这里没有大公司的等级观念，每个人随时都可以提出自己的创意和想法。
          .col.s12.m4.l4
            div.about-medium-1-1
              p.center.about-title-1(style='padding-top:50px;') 在云联讯工作大有不同
              p(style='padding:0 30px;') 在云联讯工作，创业的氛围让每个人都积极创新，为做出美好的事情而努力，在这里没有大公司的等级观念，每个人随时都可以提出自己的创意和想法。
          .col.s12.m4.l4
            div.card-title(style='height:100%;')
              p.center.about-title-1(style='padding-top:50px;') 在云联讯工作大有不同
              p(style='padding:0 30px;') 在云联讯工作，创业的氛围让每个人都积极创新，为做出美好的事情而努力，在这里没有大公司的等级观念，每个人随时都可以提出自己的创意和想法。
    .about-medium-5
      .container(style="width:90%;padding-top:50px;")
        .title-1.center-align.white-font 我们
          div.background-style
        .subtitle.center-align.white-font(style="margin-top:10px;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
      .container(style="width:90%;padding-top:50px;")
        .title-1.center-align.white-font 我们
          div.background-style
        .subtitle.center-align.white-font(style="margin:20px auto;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
    .about-medium-1-1-1
      .section-index-0
        .container(style="width:90%;padding-top:60px;")
          .row
            .col.s12.m4.l2
              div
                .center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m4.l7
              div.card-title.left(style='position:relative;font-size:2rem;') 移动开发工程师
              p.card-text.left(style='position:absolute;margin-top:50px;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
            .col.s12.m4.l3
              div
                .card-title.right(style='margin-top:26px;font-size:0.8rem;') 招聘详情&nbsp;&nbsp;
                  img(src='./images/Enter-arrow.png')
          .row
            .col.s12.m4.l2
              div
                .center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m4.l7
              div.card-title.left(style='position:relative;font-size:2rem;') 移动开发工程师
              p.card-text.left(style='position:absolute;margin-top:50px;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
            .col.s12.m4.l3
              div
                .card-title.right(style='margin-top:26px;font-size:0.8rem;') 招聘详情&nbsp;&nbsp;
                  img(src='./images/Enter-arrow.png')
          .row
            .col.s12.m4.l2
              div
                .center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m4.l7
              div.card-title.left(style='position:relative;font-size:2rem;') 移动开发工程师
              p.card-text.left(style='position:absolute;margin-top:50px;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
            .col.s12.m4.l3
              div
                .card-title.right(style='margin-top:26px;font-size:0.8rem;') 招聘详情&nbsp;&nbsp;
                  img(src='./images/Enter-arrow.png')
          .row
            .col.s12.m4.l2
              div
                .center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m4.l7
              div.card-title.left(style='position:relative;font-size:2rem;') 移动开发工程师
              p.card-text.left(style='position:absolute;margin-top:50px;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
            .col.s12.m4.l3
              div
                .card-title.right(style='margin-top:26px;font-size:0.8rem;') 招聘详情&nbsp;&nbsp;
                  img(src='./images/Enter-arrow.png')
    div.about-cutting-line
    include templates/layout/medium-3
  include templates/layout/footer


