doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.video-picture-1
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  我们需要你加入
        div.background-style
        .container-banner-content-subtitle.center 创业的氛围让每个人都积极创新，为做出美好的事情而努力在这里没有大公司的等级观念，每个人都可以随时提出自己的创意和想法。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-1(style="height:100%;")
      .container.about-medium-1
        .row
          .col.s12.m4.l4
            div.about-medium-1-1
              p.center.about-title-1(style='padding-top:50px;') 在云联讯工作大有不同
              p.footer-font-size-1(style='padding:0 30px;') 在云联讯工作，创业的氛围让每个人都积极创新，为做出美好的事情而努力，在这里没有大公司的等级观念，每个人随时都可以提出自己的创意和想法。
              div.center
                span.card-icon
                  img.about-img-size-1(src='./images/svg/1-1.svg')
          .col.s12.m4.l4
            div.about-medium-1-1
              p.center.about-title-1(style='padding-top:50px;') 在云联讯工作大有不同
              p.footer-font-size-1(style='padding:0 30px;') 在云联讯工作，创业的氛围让每个人都积极创新，为做出美好的事情而努力，在这里没有大公司的等级观念，每个人随时都可以提出自己的创意和想法。
              div.center
                span.card-icon
                  img.about-img-size-2(src='./images/svg/1-2.svg')
          .col.s12.m4.l4
            div.about-medium-1-three.card-title(style='height:100%;')
              p.center.about-title-1(style='padding-top:50px;') 在云联讯工作大有不同
              p.footer-font-size-1(style='padding:0 30px;') 在云联讯工作，创业的氛围让每个人都积极创新，为做出美好的事情而努力，在这里没有大公司的等级观念，每个人随时都可以提出自己的创意和想法。
              div.center
                span.card-icon
                  img.about-img-size-2(src='./images/svg/1-3.svg')
    .about-medium-5
      .container(style="width:90%;padding-top:50px;")
        .title-1.center-align.white-font 我们
          div.background-style
        .footer-font-size-1.center-align.white-font(style="margin-top:10px;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
      .container(style="width:90%;padding-top:50px;")
        .title-1.center-align.white-font 应用
          div.background-style
        .footer-font-size-1.center-align.white-font(style="margin:20px auto;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
      .container(style="width:90%;padding-top:50px;")
        .title-1.center-align.white-font 专利/版权
          div.background-style
        .footer-font-size-1.center-align.white-font(style="margin:20px auto;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
    include templates/layout/medium-3
    .about-medium-1-1-1
      .section-index-0
        .container(style="width:90%;padding-top:60px;")
          .row
            .col.s12.m4.l2
              div
                .center.padding-top-10
                  span.picture-size-4
                    img.img-size(src='./images/svg/Mobile.svg')
            .col.s12.m4.l7
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') 移动开发工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区
            .col.s12.m4.l3
              div
                .card-title.right(style='margin-top:40px;font-size:1rem;') 招聘详情&nbsp;&nbsp;
                  img(src='./images/Enter-arrow.png')
          .row
            .col.s12.m4.l2
              div
                .center.padding-top-10
                  span.picture-size-4
                    img.img-size(src='./images/svg/Web.svg')
            .col.s12.m4.l7
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') Web工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:2 2017-05-22 深圳市南山区
            .col.s12.m4.l3
              div
                .card-title.right(style='margin-top:40px;font-size:1rem;') 招聘详情&nbsp;&nbsp;
                  img(src='./images/Enter-arrow.png')
          .row
            .col.s12.m4.l2
              div
                .center.padding-top-10
                  span.picture-size-4
                    img.img-size(src='./images/svg/Mongodb.svg')
            .col.s12.m4.l7
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') Mongodb工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区
            .col.s12.m4.l3
              div
                .card-title.right(style='margin-top:40px;font-size:1rem;') 招聘详情&nbsp;&nbsp;
                  img(src='./images/Enter-arrow.png')
          .row
            .col.s12.m4.l2
              div
                .center.padding-top-10
                  span.picture-size-4
                    img.img-size(src='./images/svg/Hardware.svg')
            .col.s12.m4.l7
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') 智能硬件工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区
            .col.s12.m4.l3
              div
                .card-title.right(style='margin-top:40px;font-size:1rem;') 招聘详情&nbsp;&nbsp;
                  img(src='./images/Enter-arrow.png')
    div.map(style='width:65%;margin:0px auto 80px auto;')
      include map
  include templates/layout/footer


