//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.air-condition-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  空调
        div.background-style
        .container-banner-content-subtitle.center 需要填写文案需要填写文案需要填写文案需要填写文案需要填写文案需要填写文案需要填写文案。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-1
      .section-index-0
        .container(style="width:90%;padding-top:80px;")
          .row
            .title.center-align 空调
            div.background-style
            .subtitle.center-align(style="margin-top:10px;") 打破传统格局，自由可操作的灵活界面。实现系统与人零距离互交操作。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/2D3D.svg')
                .col.s6.m12
                  div.card-title.center 实时监控
                  p.card-text.center 支持在线可配置2D/3D组态。支持在线可配置2D/3D组态。支持在线可配置2D/3D组态。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/electronic-map.svg')
                .col.s6.m12
                  div.card-title.center 远程控制
                  p.card-text.center(style='padding-bottom:6rem') 请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/electronic-map.svg')
                .col.s6.m12
                  div.card-title.center 数据统计
                  p.card-text.center(style='padding-bottom:6rem') 请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。
    .medium-6
      .row.card.background-color.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/capacity-management1.jpg')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 微模块集中监控
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 微模块总览
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/real-time-monitoring1.jpg')
    .medium-6
      .row.card.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/assets-management1.jpg')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 环境监控
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 视频监控
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/energy-efficiency1.jpg')
    .medium-6
      .row.card.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/change-management1.jpg')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 门禁管理
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 电池管理
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/operation-and-maintenance-management1.jpg')
  include templates/layout/footer
