//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.charging-pile-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  充电桩
        div.background-style
        .container-banner-content-subtitle.center 正在开发中。。。。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
