doctype html
html
  include templates/_layout/head
  body
    include templates/_layout/nav
    .section_bigbanner
        .section_bigbanner_container(data-image-l="images/cloudplatform/cloudPlatform.jpg" data-image-s="images/cloudplatform/cloudPlatform-mobile.jpg")
          img.responsive-img(src='./images/cloudplatform/cloudPlatform.png')
          //.banner-text-height
    .warp-content
      .section_background
        .container
          .row.section_row
            a(href='./dcim.html')
              .col.news-section.s12.m12.l6.cloud-section-content
                img.news_image(src='images/cloudplatform/cloudPlatform1.jpg')
                .main-title.news-title 云平台数据中心基础设施管理（DCIM）系统
                .text-content.news-info.left-align 通过收集和管理数据，包括数据中心的资产、资源利用情况和整个数据中心的生命周期的运行状态的数据，然后将这些信息以分布、集成、分析和应用的方式，帮助管理者满足业务和面向服务的目标，优化数据中心的性能。”

            a(href='./wlw.html')
              .col.news-section.s12.m12.l6.cloud-section-content
                img.news_image(src='images/cloudplatform/cloudPlatform2.jpg')
                .main-title.news-title 云平台物联网服务
                .text-content.news-info.left-align 帮助你从传感器数据获得洞察，并据以采取行动。借助物联网服务，你能够安装和管理远程联网设备，获得实时预测分析数据，从而提升智能和决策水平，并优化核心业务流程。
    include templates/_layout/footer
    script.
      $(function () { //banner switch(picture) in mobile
        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }
        }

        $(window).on('resize', resize).trigger('resize');
      })


