//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.connection-picture-1
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  连接管理
        div.background-style
        .container-banner-content-subtitle.center 专业的连接管理系统，方便您的日常。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-1
      .section-index-0
        .container(style="width:90%;padding-top:80px;")
          .row
            .title.center-align 连接管理
            div.background-style
            .subtitle.center-align(style="margin-top:10px;") 与NFC，二维码相结合，打破传统，全方位智能管理线缆和设备，让你从繁琐的运维工作中脱颖而出。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/label1.svg')
                .col.s6.m12
                  div.card-title.center 线缆上张贴NFC标签
                  p.card-text.center 在线缆贴上带有二维码或条形码的NFC标签，进行线缆数字化管理。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/app-write-in.svg')
                .col.s6.m12
                  div.card-title.center APP写入线缆
                  p.card-text.center APP向NFC标签写入线缆信息。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/app-read.svg')
                .col.s6.m12
                  div.card-title.center APP读取NFC标签信息
                  p.card-text.center APP读取NFC标签信息，获取线缆资料，呈现线缆关系图，一目了然。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/management-system.svg')
                .col.s6.m12
                  div.card-title.center 数据中心管理系统
                  p.card-text.center(style='padding-bottom:6rem') 查看线缆连接，管理数据中心设备。
    .medium-6
      .row
        .col.s12.m6.l6.card.background-color
          .row
            .col.s12.m6.l6
              .col.s12.m12.l12
                img.medium-6-img(src='./images/label1.png')
            .col.s12.m6.l6(style='padding-top:23%;')
              .col.s12.m12.l12
                div.medium-6-size-1
                  p 线缆上张贴NFC标签
              .col.s12.m12.l12
                div.background-style-1
              .col.s12.m12.l12
                p.medium-6-size-2 在线缆贴上带有二维码或条形码的NFC标签，进行线缆数字化管理。
        .col.s12.m6.l6.card.background-color
          .row
            .col.s12.m6.l6
              .col.s12.m12.l12
                img(src='./images/label2.png',style='width:78%;')
            .col.s12.m6.l6(style='padding-top:23%;')
              .col.s12.m12.l12
                div.medium-6-size-1
                  p APP写入线缆
              .col.s12.m12.l12
                div.background-style-1
              .col.s12.m12.l12
                p.medium-6-size-2 APP将线缆，相关设备信息写入NFC标签，为后续的管理做准备。
    .medium-6
      .row
        .col.s12.m6.l6.card.background-color
          .row
            .col.s12.m6.l6
              .col.s12.m12.l12
                img.medium-6-img(src='./images/label3.png')
            .col.s12.m6.l6(style='padding-top:23%;')
              .col.s12.m12.l12
                div.medium-6-size-1
                  p APP读取NFC标签信息
              .col.s12.m12.l12
                div.background-style-1
              .col.s12.m12.l12
                p.medium-6-size-2 APP读取NFC标签信息，获取线缆资料，显现线缆设备连接图，方便管理。
        .col.s12.m6.l6.card.background-color
          .row
            .col.s12.m6.l6
              .col.s12.m12.l12
                img.medium-6-img(src='./images/label4.png')
            .col.s12.m6.l6(style='padding-top:23%;')
              .col.s12.m12.l12
                div.medium-6-size-1
                  p 数据中心管理系统
              .col.s12.m12.l12
                div.background-style-1
              .col.s12.m12.l12
                p.medium-6-size-2 可以同时管理线缆和数据中心的设备，功能强大，方便运维。
  include templates/layout/footer
