//开发实时数据平台
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.video-picture-data-platform
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  开发实时数据平台
        div.background-style
        .container-banner-content-subtitle.center 快速开发、打破数据孤岛、面向云架构，提供告诉和可定制化的实时数据服务。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .hide-for-medium-only
      .container.medium-only
        ul.page-links
          li.page-links-li.bold-blue 数据中心
          li.page-links-li.bold-blue 电力/能源
          li.page-links-li.bold-blue 物联网
    .data-platform-medium-1#overview
      .section-index-0
        .container.data-platform-padding
          .row
            .col.s12.m4
              div.card-title.left-align DCIM
                p.card-text.left-align 数据中心基础设施管理系统实现数据中心最基本也是最具有价值的管理，通过设施监控、资产管理、容量管理、能效管理、变更管理、可用性管理等功能模块，让数据中心的资产、容量、能耗说得清管得住。
            .col.s12.m4
              div.card-title.left-align CLOUDVIEW
                p.card-text.left-align 创建智能和可持续发展的能源，以及系统平台到现场实施，我们必须将整个生态系统相结合。 通过整合所有层面的新技术，确保终端用户可无缝享受智能管理带来的优越体验。
            .col.s12.m4
              div.card-title.left-align IOT
                p.card-text.left-align 通过帮助家庭、汽车、城市、教育、可穿戴行业和医疗保健共享各种网络上的更多交互和数据，我们正在编织物联网的构造，以便各行业可重新定义可能的内容。
    .blue-block
      .platform-layer.center Platform Layer
    .green-block
      .platform-layer.center Data Layer
    .medium-2.center
      .medium-2-1
        div.data-platform 数据平台运行结构
            i.mdi-navigation-arrow-drop-down.right
    .data-platform1
      img(src='./images/data-platform1.jpg',style='width:100%;')

    //.data-platform-medium-2#features
    //  .section-index-0
    //    .container.data-platform-padding
    //      .row
    //        .title.center-align 电力/能源
    //        div.background-style
    //      .row
    //        .col.s12.m4
    //          div.card-title.left-align 增强型移动宽带
    //            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //        .col.s12.m4
    //          div.card-title.left-align 增强型移动宽带
    //            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //        .col.s12.m4
    //          div.card-title.left-align 增强型移动宽带
    //            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //      .row
    //        .col.s12.m4
    //          div.card-title.left-align 增强型移动宽带
    //            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //        .col.s12.m4
    //          div.card-title.left-align 增强型移动宽带
    //            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //.medium-1#platform
    //  .section-index-0
    //    .container.data-platform-padding
    //      .row
    //        .title.center-align 物联网
    //        div.background-style
    //      .row
    //        .col.s12.m4.l4
    //          div
    //            a(href='./iot.html')
    //              .col.s4.m12.center.padding-top-10
    //                span.card-icon
    //                  img(src='./images/svg/cloudview.svg')
    //              .col.s6.m12
    //                div.card-title.center 工业4.0
    //                p.card-text.center 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    //        .col.s12.m4.l4
    //          div
    //            a(href='./industry.html')
    //              .col.s4.m12.center.padding-top-10
    //                span.card-icon
    //                  img(src='./images/svg/new energy.svg')
    //              .col.s6.m12
    //                div.card-title.center 电力监控
    //                p.card-text.center 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    //        .col.s12.m4.l4
    //          div
    //            a(href='./new-energy.html')
    //              .col.s4.m12.center.padding-top-10
    //                span.card-icon
    //                  img(src='./images/svg/wulianwang.svg')
    //              .col.s6.m12
    //                div.card-title.center 物联网
    //                p.card-text.center 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    //      .row.data-platform-padding-bottom
    include templates/layout/footer
