doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    include templates/layout/video
    .medium-3
      .section-index-0
        .container(style="width:90%")
          .row.center
            img(style="width: 100px;height: 100px;")(src="./images/50-50Join us.svg")
          .title-1.center-align DCIM与微模块
            div.background-style
          .subtitle.center-align(style="margin-top:10px;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
          div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
    .medium-1-1-1
      .section-index-0
        .container(style="width:90%;padding-top:60px;")
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 智能家居
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 智能家居
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 智能家居
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 智能家居
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 智能家居
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    .medium-5
      .section-index-0
        .container(style="width:90%;")
          .row.center
            .title.center-align(style='color:#FFFFFF;') 改变人与世界及彼此之间的互交方式
            div(style='margin-bottom:35px;')
              a.btn.dropdown-button(href="#!", data-activates="观看视频",style="background-color:#03A9F4;margin:25px auto;color:#FFFFFF") 观看视频
                i.mdi-navigation-arrow-drop-down.right
            .col.s12.m4(style='color:#FFFFFF;')
              div.card-title.center(style='color:#FFFFFF;') 智能硬件
                p.card-text.center(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。
            .col.s12.m4
              div.card-title.center(style='color:#FFFFFF;') 智能硬件
                p.card-text.center(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。
            .col.s12.m4
              div.card-title.center(style='color:#FFFFFF;') 智能硬件
                p.card-text.center(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。
    div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
    include templates/layout/medium-3
  include templates/layout/footer


