//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.electrical-energy-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  电力能源
        div.background-style
        .container-banner-content-subtitle.center 电力能源管理系统是电力行业管理与工业互联网大数据分析平台的完美结合，具有强大的历史能耗数据追溯和分析功能；可广泛应用于智能电网、智能大厦、智能化小区以及市政建设、港口、机场等诸多领域；是一个可视化、智能化、网络化的智能电力信息开放式管理平台。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-1
      .section-index-0
        .container(style="width:90%;padding-top:80px;")
          .row
            .title.center-align 电力能源
            div.background-style
            .subtitle.center-align(style="margin-top:10px;") 打破传统格局，自由可操作的灵活界面。实现系统与人零距离互交操作。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/2D3D.svg')
                .col.s6.m12
                  div.card-title.center 电力监控
                  p.card-text.center 借助了计算机、网络通信设施、计量保护装置等，对各电参量、开关状态等实时数据采集进行监测，并同时可作远程控制。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/electronic-map.svg')
                .col.s6.m12
                  div.card-title.center 基站能耗
                  p.card-text.center 站内电力设施的使用数量、能耗使用情况的概览，并提供报表、曲线图形、饼图等多元化展现能耗信息，对能耗多层次深度分析，为决策者决策提供有效的决策信息。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/thermal-field.svg')
                .col.s6.m12
                  div.card-title.center 电力接线图
                  p.card-text.center 可便捷定制电力设备接线，查看电设备的分配情况，可实时监控电压、电流、开关状态等参考电量参数，提高供电可靠性。支持在线可配置2D/3D组态。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/capacity-management.svg')
                .col.s6.m12
                  div.card-title.center 手机APP
                  p.card-text.center 电力能源APP，提供图形化分析管理，报警故障记录查询、电能质量分析，以及设备拟物化和视频监控，同时包含远程抄表功能，方便用户随时随地掌握电力设备的运行情况，及时处理相关事务，提供工作效率。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/real-time-monitoring.svg')
                .col.s6.m12
                  div.card-title.center 视频监控
                  p.card-text.center(style='padding-bottom:6rem') 可对站内设备、杆塔设备、通道走廊、周边环境等提供多元视频监控，将实时图像通过通讯网络传送到电力能源系统，一旦发生危及线路安全运行的情况，系统将自动报警，并向远程电脑终端和设定的手机发送短信和现场视频，使运维人员第一时间掌握现场情况，加强电力设施安防。
            .col.s12.m4.l4
              div &nbsp;
    .medium-6
      .row.card.background-color.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/power-monitoring.png')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 电力监控
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 借助了计算机、网络通信设施、计量保护装置等，对各电参量、开关状态等实时数据采集进行监测，并同时可作远程控制。
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 基站能耗
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 站内电力设施的使用数量、能耗使用情况的概览，并提供报表、曲线图形、饼图等多元化展现能耗信息，对能耗多层次深度分析，为决策者决策提供有效的决策信息。
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/base-station.png')
    .medium-6
      .row.card.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/wiring-diagram.png')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 电力接线图
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 可便捷定制电力设备接线，查看电设备的分配情况，可实时监控电压、电流、开关状态等参考电量参数，提高供电可靠性。支持在线可配置2D/3D组态。
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 视频监控
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 可对站内设备、杆塔设备、通道走廊、周边环境等提供多元视频监控，将实时图像通过通讯网络传送到电力能源系统，一旦发生危及线路安全运行的情况，系统将自动报警，并向远程电脑终端和设定的手机发送短信和现场视频，使运维人员第一时间掌握现场情况，加强电力设施安防。
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/video-surveillance.png')
  include templates/layout/footer
