//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.energy-management-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  能源管理
        div.background-style
        .container-banner-content-subtitle.center 需要填写文案需要填写文案需要填写文案需要填写文案需要填写文案需要填写文案需要填写文案。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-1
      .section-index-0
        .container(style="width:90%;padding-top:80px;")
          .row
            .title.center-align 能源管理
            div.background-style
            .subtitle.center-align(style="margin-top:10px;") 打破传统格局，自由可操作的灵活界面。实现系统与人零距离互交操作。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/2D3D.svg')
                .col.s6.m12
                  div.card-title.center 能效看板
                  p.card-text.center 支持在线可配置2D/3D组态。支持在线可配置2D/3D组态。支持在线可配置2D/3D组态。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/electronic-map.svg')
                .col.s6.m12
                  div.card-title.center 峰谷电价
                  p.card-text.center 请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/thermal-field.svg')
                .col.s6.m12
                  div.card-title.center 用能流向
                  p.card-text.center 请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/capacity-management.svg')
                .col.s6.m12
                  div.card-title.center 能源接入
                  p.card-text.center 容量管理包括空间、电力、制冷、承 重和端口容量，从资源平衡的角度综合考量设计、额定、保留、使用和剩余关系。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/real-time-monitoring.svg')
                .col.s6.m12
                  div.card-title.center 基础信息
                  p.card-text.center 请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/assets-management.svg')
                .col.s6.m12
                  div.card-title.center 企业信息
                  p.card-text.center 采用人工方式录入资产数据、资产变更、资产盘点和审计可能造成数据同步不及时、 录入错误率较高和工作量较大的问题。CLC-DCIM 提供基于 RFID 的精确到机柜 U 位级的自动化资产管理方案。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/energy-efficiency.svg')
                .col.s6.m12
                  div.card-title.center 统计分析
                  p.card-text.center(style='padding-bottom:6rem') 请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。请添加文案。
    .medium-6
      .row.card.background-color.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/efficiency-analysis.png')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 能效看板
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 峰谷电价
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/peak-valley-price.png')
    .medium-6
      .row.card.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/energy-access.png')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 能源接入
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 费用分析
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/cost-analysis.png')
  include templates/layout/footer


