//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.video-picture-1
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  数据中心设施管理
        div.background-style
        .container-banner-content-subtitle.center 一套基于IT基础设施和动环关键设备统一管理平台，支撑用户对数据中心设备统一资产建模管理，集成实时数据可视化展示，实现数据中心的全生命周期管理，可有效提升运维效率，平台也具有扩展性，可以根据后期需求扩展上线各种运维工作的功能模块和数据分析应用。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-6
      .row
        .col.s6.m6.l6
          .col.s12
            img.medium-6-img(src='./images/Platform-advantage-background.jpg')
          .col.s12
            div.medium-6-size-1
              p 资产管理
          .col.s12
            div.background-style-1
          .col.s12
              p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
        .col.s6.m6.l6
          .col.s12
            img.medium-6-img(src='./images/Platform-advantage-background.jpg')
          .col.s12
            div.medium-6-size-1
              p 容量管理
          .col.s12
            div.background-style-1
          .col.s12
              p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    .medium-6
      .row
        .col.s12.m12.l12
          .col.s12
            img.medium-6-img-1(src='./images/Platform-advantage-background.jpg')
          .col.s12
            div.medium-6-size-1
              p 变更管理
          .col.s12
            div.background-style-1
          .col.s12
              p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    .medium-6
      .row
        .col.s6.m6.l6
          .col.s12
            img.medium-6-img(src='./images/Platform-advantage-background.jpg')
          .col.s12
            div.medium-6-size-1
              p 资产管理
          .col.s12
            div.background-style-1
          .col.s12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
        .col.s6.m6.l6
          .col.s12
            img.medium-6-img(src='./images/Platform-advantage-background.jpg')
          .col.s12
            div.medium-6-size-1
              p 容量管理
          .col.s12
            div.background-style-1
          .col.s12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    .medium-6
      .row
        .col.s12.m12.l12
          .col.s12
            img.medium-6-img-1(src='./images/Platform-advantage-background.jpg')
          .col.s12
            div.medium-6-size-1
              p 变更管理
          .col.s12
            div.background-style-1
          .col.s12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原

  include templates/layout/footer


