//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="height:700px;position:relative;")
      div.facilities-picture-2
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  数据中心设施管理
        div.background-style
        .container-banner-content-subtitle.center 一套基于IT基础设施和动环关键设备统一管理平台，支撑用户对数据中心设备统一资产建模管理，集成实时数据可视化展示，实现数据中心的全生命周期管理，可有效提升运维效率，平台也具有扩展性，可以根据后期需求扩展上线各种运维工作的功能模块和数据分析应用。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    //.slider.image-carousel
    //  ul.slides.image-carousel1
    //    li
    //      img.facilities-management-img(src='./images/picture1.png')
    //    li
    //      img.facilities-management-img(src='./images/picture2.png')
    //    li
    //      img.facilities-management-img(src='./images/picture3.png')
    .facilities-medium-1
      .section-index-0
        .container(style="width:90%;padding-top:80px;")
          .row
            .title.center-align 多种功能应用模块     实现客户价值
            div.background-style
            .subtitle.center-align(style="margin-top:10px;") 从位置、状态、容量和依赖四个纬度管理数据中心可用性，模块化功能组件设计，让数据中心客户按需配置。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/2D3D.svg')
                .col.s6.m12
                  div.card-title.center 2D/3D组态
                  p.card-text.center 2D/3D组态可自由配置，可视化管理数据中心，实现端到端的IT可视性和对数据中心整体卓越的运营，包括提高资源利用率，降低使用多维度管理工具的复杂度，提升运营效率，缩短响应时间，加速故障排查过程。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/electronic-map.svg')
                .col.s6.m12
                  div.card-title.center 电子地图
                  p.card-text.center 电子地图功能可让多数据中心在同一地图上进行呈现，并实现数据中心的快速查询，告警联动定位，当前数据中心健康情况呈现等，提升管理效率。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/thermal-field.svg')
                .col.s6.m12
                  div.card-title.center 实时温场
                  p.card-text.center 实时温场让数据中心温湿度状态图形化呈现，使用者可发现整个机房的高温热点区域或低温区域，降低机房高温宕机风险并改善机房能耗，并提高数据中心设备的可用性，获得更长的使用寿命。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/capacity-management.svg')
                .col.s6.m12
                  div.card-title.center 容量管理
                  p.card-text.center 容量管理功能组件，让整个数据中心的空间、电力、制冷及网络等更匹配，提升容量利用率，从而降低数据中心的运营成本和能耗。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/real-time-monitoring.svg')
                .col.s6.m12
                  div.card-title.center 实时监控
                  p.card-text.center 实时监控功能组件，让数据中心动力和环境系统运行状况尽在掌握，实现无人值守或少人值守。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/assets-management.svg')
                .col.s6.m12
                  div.card-title.center 资产管理
                  p.card-text.center 准确的资产数据是数据中心日常运维的基础，而有效利用资产信息，结合数据挖掘技术生成各种资产报表，可进一步提升数据中心管理效率。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/energy-efficiency.svg')
                .col.s6.m12
                  div.card-title.center 能源效率
                  p.card-text.center 数据中心能耗管理面临“能耗大、能效低、成本高”等问题，能源效率功能组件让数据中心PUE尽在掌握，用户可按设备类型、机柜类型、运行周期等多维度进行能效管理及优化。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/change-management.svg')
                .col.s6.m12
                  div.card-title.center 变更管理
                  p.card-text.center 变更管理功能组件，保证网管中的资产信息能够及时、准确地变更，实现整个数据中心资产变更过程的标准化、流程化、高效化。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/operation-and-maintenance-management.svg')
                .col.s6.m12
                  div.card-title.center 运维管理
                  p.card-text.center(style='padding-bottom:6rem') “三分建设，七分管理”，强调了数据中心运维管理的重要性；运维管理功能组件，降低运维成本，提升数据中心运营利润，并可让运维规范化、标准化，从而提高数据中心的可靠性，减少宕机风险。
    .medium-6
      .row.card.background-color.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/capacity-management1.jpg')
        .col.s12.m5.l5(style='padding-top:3%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 容量管理
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 机房容量管理：展现机房总体容量情况，包括电力容量、制冷容量、空间容量、承重容量和网络容量，支持额定、已用和剩余容量计算。
          .col.s12.m12.l12
            p.medium-6-size-2 机架容量管理：展现单个机架容量使用，包括电力容量、制冷容量、空间容量、承重容量和网络容量，支持额定、已用和剩余容量计算。
          .col.s12.m12.l12
            p.medium-6-size-2 系统支持实时容量采集，例如通过PDU可测量实时电力容量，通过RFID实时采集空间容量。如果不具备自动化采集能力，则可以通过额定容量或设置降额容量，手动输入当前使用容量。
          .col.s12.m12.l12
            p.medium-6-size-2 容量告警：当容量超出设定阈值，产生告警通知。
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:4%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 实时监控
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p 设备状态:
            p.text-indent-2  动态图标/颜色显示设备运行状态。
            p.text-indent-2  显示设备告警统计信息。
          .col.s12.m12.l12
            p 实时信号:
            p.text-indent-2  提供实时信号浏览，显示内容包括机房名称、设备名称、信号名称、实时值、采集时间、信号采集状态。
            p.text-indent-2  动态图标/颜色显示信号采集状态和告警状态。
            p.text-indent-2  支持实时信号曲线。
            p.text-indent-2  提供24小时信号历史数据/曲线查询。
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/real-time-monitoring1.jpg')
    .medium-6
      .row.card.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/assets-management1.jpg')
        .col.s12.m5.l5(style='padding-top:3%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 资产管理
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p 设备建模:
            p.text-indent-2 新增一种设备模型不需要改动数据库结构或重新编码，支持在线创新设备模板或加载设备包导入设备模板。
          .col.s12.m12.l12
            p 资产搜索:
            p.text-indent-2 提供搜索框支持资产搜索，简易搜索提供对资产名称的模糊匹配搜索，高级搜索支持按设备类型、所属类型、厂商、购买时间、负责人等分类索引。
            p 资产报表:
            p.text-indent-2 提供按时间段（任意时间段、日、周、月、季度、年）和查询条件（按数据中心、机房、楼层、设备类型、设备厂商、所属类型、负责人）等查询和统计资产报表。
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:6%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 能源效率
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p 计算各个机房和整个数据中心的PUE，同时支持功率PUE。
            p.text-indent-2 仪表盘方式显示实时PUE。
            p.text-indent-2 实时和历史PUE曲线。
            p.text-indent-2 根据平均电价计算的电费。
            p.text-indent-2 支持碳排放转换公式计算碳排放量。
            p.text-indent-2 支持用水转换公式计算模拟用水量。
            p.text-indent-2 支持按机房/机架/用户的分类方式计算用电量和电费。
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/energy-efficiency1.jpg')
    .medium-6
      .row.card.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/change-management1.jpg')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 变更管理
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p 服务器上下架管理；
            p 用户变更权限管理；
            p 支持批量变更数据导入；
            p 资产变更报表；
            p RFID资产自动变更管理。
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:9%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 运维管理
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p 用户权限管理
            p 现场告警管理
            p 运维工作日志
            p 运维流程管理
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/operation-and-maintenance-management1.jpg')
  include templates/layout/footer


