//开发实时数据平台
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.framework
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  开发实时数据平台
        div.background-style
        .container-banner-content-subtitle.center 快速开发、打破数据孤岛、面向云架构，提供告诉和可定制化的实时数据服务。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .hide-for-medium-only(style='z-index:2;')
      .container.medium-only
        ul.page-links
          li.page-links-li.bold-blue 显示层
          li.page-links-li.bold-blue 服务层
          li.page-links-li.bold-blue 聚合层
          li.page-links-li.bold-blue 采集层
    .framework-picture
      img(src='./images/Framework1.jpg',style='width:100%;')
    include templates/layout/footer
