//开发实时数据平台
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.hybrid-cloud-platform-picture1
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  混合云平台
        div.background-style
        .container-banner-content-subtitle.center 用最全面的技术和最新的平台架构，为开发者提供丰富的解决方案，在云端开发领域打造全新适用的技术服务型平台。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .hide-for-medium-only(style='z-index:2;')
      .container.medium-only
        ul.page-links
          li.page-links-li.bold-blue 企业应用
          li.page-links-li.bold-blue 个人应用
          li.page-links-li.bold-blue 物联网平台
          li.page-links-li.bold-blue 共有云平台
    .framework-picture
      img(src='./images/hybrid-cloud-platform2.jpg',style='width:100%;')
    include templates/layout/footer
