doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    include templates/layout/video
    //.hide-for-medium-only
      .container.medium-only
        ul.page-links
          li.page-links-li
            a(href="#overview", rel="overview") OVERVIEW
          li.page-links-li
            a(href="#features", rel="features") FEATURES
          li.page-links-li
            a(href="#platform", rel="platform") ARCHITECTURE
    .medium-1
      .section-index-0
        .container(style="width:90%;padding-top:80px;")
          .row
            .title.center-align 推动物联网、大数据、云相结合，创造美好世界。
            div.background-style
            .subtitle.center-align(style="margin-top:10px;") 获取实时数据，通过对这些数据的分析和挖掘可以了解问题产生的过程、造成的影响和解决的方式，这些信息被抽象化建模后转化成知识，再利用知识去认识、解决和避免问题，从而提升生产效率，开拓新的业务模式。
          .row
            .col.s12.m4.l4
              div
                  .col.s6.m12.center.padding-top-10
                    a(href='./data-center.html').card-icon.icon-jitter
                      div#nav1
                  .col.s6.m12
                        div.card-title.center
                          a(href='./data-center.html') 数据中心
                        p.card-text.center 基础设施管理DCIM实现数据中心的全生命周期管理，有效提升运维效率。
            .col.s12.m4.l4
              div
                  .col.s6.m12.center.padding-top-10
                    a(href='./power-monitoring.html').card-icon.icon-jitter
                      div#nav2
                  .col.s6.m12
                    div.card-title.center
                      a(href='./power-monitoring.html') 电力能效
                    p.card-text.center 电力能效通过对供配电系统进行在线数据监测采集，提升应用场景的电力管理效率、能效管理、能效看板
            .col.s12.m4.l4
              div
                  .col.s6.m12.center.padding-top-10
                    a(href='./new-energy.html').card-icon.icon-jitter
                      div#nav3
                  .col.s6.m12
                    div.card-title.center
                      a(href='./new-energy.html') 新能源
                    p.card-text.center 太阳能与风能等新能源发电系统的远程监测、系统级可视化管理、预测性的维护管理。
          .row(style='padding-bottom:6rem;')
            .col.s12.m4.l4
              div
                  .col.s6.m12.center.padding-top-10
                    a(href='./industry.html').card-icon.icon-jitter
                      div#nav4
                  .col.s6.m12
                    div.card-title.center
                      a(href='./industry.html') 工业4.0
                    p.card-text.center 利用物联网的技术和设备监控技术加强信息管理和服务，实现生产数字化；通过实时监测及预测性分析，降低工业设备的运行故障，并提升服务效率。
            .col.s12.m4.l4
              div
                  .col.s6.m12.center.padding-top-10
                    a(href='./iot.html').card-icon.icon-jitter
                      div#nav5
                  .col.s6.m12
                    div.card-title.center
                      a(href='./iot.html') 物联网
                    p.card-text.center 通过采集器、传感器将数据传到云端，做多种可视化呈现应用。
    .platform-advantage
      div.picture-opacity-1
      .section-index-0
        .container.index-medium-5-1
          .row.center
            div.index-text-background
              .title-2.center-align 平台的优势
            .col.s12.m3
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.left
                      span.card-icon.icon-jitter(style='margin-left:-10px;')
                        img.index-img-size(src='./images/svg/data.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju
                      a#hover1(href='./data-platform.html') 数据平台
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 快速开发、打破数据孤岛、面向云架构，提供高速和可定制化的实时数据服务。
            .col.s12.m3
              div
                a(href='./framework.html')
                  .col.s12.m12
                    div.left
                      span.card-icon.icon-jitter(style='margin-left:-10px;')
                        img.index-img-size(src='./images/svg/framework.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju
                      a#hover1(href='./framework.html') 架构
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 微服务通过服务总线扩展系统规模扩大时增加服务器数量即可满足扩容需求。
            .col.s12.m3
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.left
                      span.card-icon.icon-jitter(style='margin-left:-10px;')
                        img.index-img-size(src='./images/svg/monitoring-system.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju
                      a#hover1(href='./data-platform.html') 监控系统
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') CLC平台提供开放数据接口，支持各种厂家监控采集器和系统接入。
            .col.s12.m3
              div
                a(href='./hybrid-cloud-platform.html')
                  .col.s12.m12
                    div.left
                      span.card-icon.icon-jitter(style='margin-left:-10px;')
                        img.index-img-size(src='./images/svg/platform.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju
                      a#hover1(href='./hybrid-cloud-platform.html') 混合云平台
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 支持封闭系统的企业版安装服务，支持任意主流云平台基础架构部署。
  //include templates/layout/footer
  include templates/footer1
