doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.industry-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  工业4.0
        div.background-style
        .container-banner-content-subtitle.center 工业界面临着来自精益，敏捷，初创企业的压力，通过数字化产品和创造新的服务模式来保护和增加收入。
      .mouse(style='z-index:2;')
          img(src="./images/subscript.png")
    .medium-1(style="height:420px;")
      .section-index-0
        .container.industry-medium-1-1(style="width:90%")
          .row.center
            .title 未来是现在
            div.background-style
            .subtitle(style="margin-top:10px;") 工业4.0是由德国政府《德国2020高技术战略》中所提出的十大未来项目之一。在提升制造业的智能化水平，建立具有适应性、资源效率及基因工程学的智慧工厂，在商业流程及价值流程中整合客户及商业伙伴。其技术基础是网络实体系统及物联网。
            div
              .title $ 900B->2020
              //img(style="width: 100px;height: 100px;")(src="./images/50-50Join us.svg")
            div
              a.btn.dropdown-button(href="#!", data-activates="了解更多",style="background-color:#03A9F4;margin:25px auto;color:#000000") 了解更多
                i.mdi-navigation-arrow-drop-down.right
    .medium-3
      .section-index-0
        .container(style="width:90%")
          .row.center
            img(style="width: 100px;height: 100px;")(src="./images/svg/industry4.00.svg")
          .title-1.center-align 工业4.0
            div.background-style
          .subtitle.center-align(style="margin-top:10px;") 智能工厂：重点研究智能化生产系统及过程，以及网络化分布式生产设施的实现；智能生产：智能化生产技术的使用者和受益者，同时也成为先进工业生产技术的创造者和供应者；智能物流：通过互联网、物联网、物流网，整合物流资源，充分发挥现有物流资源供应方的效率，而需求方，则能够快速获得服务匹配，得到物流支持。
          div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
    .medium-1-1
      .section-index-0
        .container(style="width:100%")
          .row
            //.col.s12.m3
            //  div
            //    .col.s12.m12.center.padding-top-10
            //      span.card-icon1
            //        img(src='./images/svg/industry4.0.svg')
            //    .col.s12.m12
            //      div.card-title 工业4.0
            //      p.card-text 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
            .col.s12.m4
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./printer.html')
                      img(src='./images/svg/intelligent-printer.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./printer.html') 打印机
                  p.card-text 我们希望重新定义联网打印机，构筑一个未来，实现所有“物品”的高速连接、互动性与智能性，从而实现真正的智能打印机。
            .col.s12.m4
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./robot.html')
                      img(src='./images/svg/intelligent-robot.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./robot.html')  机器人
                  p.card-text 作为新型类别的终端，我们使传统和现代智能成为我们现代方式的延伸，我们可选择通过智能手机和语音识别，以及视频扫描进行工作和沟通。
            .col.s12.m4
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./air-condition.html')
                      img(src='./images/svg/intelligent-air-conditioner.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./air-condition.html') 空调
                  p.card-text 我们的智能空调平台可让人工团队与产品进行改革交互，以新的方式收集和连接数据 — 最终降低成本和复杂性。
    .medium-2.center
      .medium-2-1
        div
          a.btn.dropdown-button(href="#!", data-activates="了解更多",style="background-color:#03A9F4;margin:25px auto;color:#000000") 下载白皮书
            i.mdi-navigation-arrow-drop-down.right
  include templates/layout/footer


