doctype html
html
  include templates/layout/head
  body.iot
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.iot-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  帮助各行业与物联网发展
        div.background-style
        .container-banner-content-subtitle.center 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，停止相信。这种转变称为物联网 (IoE)，30 年以来，我们一直运用、我们的无线专业技术，实现此令人惊叹的互联世界。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-3
      .section-index-0
        .container(style="width:90%")
          .row.center
            img(style="width: 150px;height: 130px;")(src="./images/svg/wulianwang1.svg")
          .title-1.white-size.center-align 物联网
            div.background-style
          .subtitle.center-align(style="margin-top:10px;") 随着世界各行业的发展，我们可通过无线解决方案实现连接。 通过帮助家庭、汽车、城市、教育、可穿戴行业和医疗保健共享各种网络上的更多交互和数据，我们正在编织物联网的构造，以便各行业可重新定义可能的内容。
          div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
    .medium-1-1
      .section-index-0
        .container(style="width:90%")
          .row
            .col.s12.m3
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon2.icon-jitter
                    a(href='./smart-home.html')
                      img(src='./images/svg/smart-home.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./smart-home.html') 智能家居
                  p.card-text 我们希望重新定义联网家居，构筑一个未来，实现所有“物品”的高速连接、互动性与智能性，从而实现真正的家居智能。
            .col.s12.m3
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./smart-bracelet.html')
                      img(src='./images/svg/smart-bracelet.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./smart-bracelet.html') 智能手环
                  p.card-text 作为新兴类别的终端，我们使可穿戴产品成为我们日常生活的延伸，我们可选择通过或不通过智能手机进行工作。
            .col.s12.m3
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon2.icon-jitter
                    a(href='./environmental-monitoring.html')
                      img(src='./images/svg/environmental-monitoring.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./environmental-monitoring.html') 环境监控
                  p.card-text 通过无缝收集视频/温度等相关高级数据，管理者提供更全面的洞察和控制能力，最终实现缩减成本、提高效率和。
            .col.s12.m3
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon2.icon-jitter
                    a(href='./intelligent-hardware.html')
                      img(src='./images/svg/intelligent-hardware.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./intelligent-hardware.html') 智能硬件
                  p.card-text 通过智能基础设施，我们可以更好地维护和管理设备硬件基础设施和运行效率，从而降低提所产生的风险及成本。
    .iot-medium-5
      div.picture-opacity-1
      .section-index-0
        .container.index-medium-5-1
          .row.center
            div
              .title-1.white-size.center-align(style='color:#ffffff') 物联网价值
              .subtitle.center-align(style="margin-top:10px;color:#ffffff") 迎接次世代物联网挑战并不意味着将整个IOT改头换面。 事实上，我们会在现有基础设施之上添加连接能力和智能方案，从而达到对资源的管理。 通过以下几个关键原则，我们可更顺畅地实现该目标。
            .col.s12.m6.l6
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju 互用性
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 互用性的实现可让数据在城市照明、运输和基础设施等各项技术中自由高效的传输在保证安全的同时达到智能通讯。
            .col.s12.m6.l6
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju  可拓展性
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 我们的所有城市解决方案都具备充分的可扩展性——这意味着无论现在还是未来，整个城市可以在不断发展中实现无缝连接。
include templates/layout/footer


