doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .container.container-job-top(style="padding-top:50px;")
      .row
        .col.s12.m12.l12
          .card.job-card
            .card-content
              .row
                .col.s12.m4.l4.center
                  img.job-img(src='img/logo3.png')
                .col.s12.m8.l8.white-text
                  .card-content.job-text
                    span.card-title "智慧云平台，数据见未来"
                    p 深圳云联讯数据科技有限公司(简称"云联讯")，创立于2012年，是一家专注于数据中心市场，提供数据中心基础设施管理解决方案、产品及服务的高新技术企业。公司提供的数据中心管理解决方案，广泛应用于金融、政府、通信、交通、能源、医疗、教育、互联网等各个行业。
                  .right
                    span 简历请发送至：dow@clcdata.com
      .row
        .col.s12.m12.l12
          span.job-title 人才招聘*Talent recruitment
      .row
        .col.s12.m12.l12
          ul.collapsible(data-collapsible="accordion")
            li
              .collapsible-header.job-ext-css
                .col.s5.m2.l2
                  .job-web-left
                    h5.job-web-h5.center-align.white-text Mobile
                .col.s7.m10.l10
                  .card-content.job-web-text
                    span(style="font-size:1.4rem;color:#333;").job-web-text-span 移动开发工程师
                    p(style="font-size:1rem;color:#666;").job-web-text-p
                      span 2016-12-06 深圳市南山区
                      br
                      span.hide-on-small-only 岗位类别:研发类 招聘人数:1
              .collapsible-body-job
                p <b>职位描述：</b>HTML5、微信和手机APP应用开发。</br><b>岗位需求：</b>大学及以上学历，两年以上工作经验。精通javascript html css 开发。熟悉webstorm git bower coffeescript jade angular bootstrap materialize requirejs d3 threejs echarts 和socket.io等工具或技术。具备英语读写能力。</br><b>加分项目：</b>参与开源项目、相关实时数据Web开发经验。
      .row
        .col.s12.m12.l12
          ul.collapsible(data-collapsible="accordion")
            //li
            //  .collapsible-header(style="padding-left:0;")
            //    .row(style="margin:1rem 0;")
            //      .col.s5.m2.l2
            //        div(style="position:relative;text-align:center;width:100%;height:0;padding-bottom:100%;!background-color:#ccc;")
            //          div(style="display:flex;justify-content:center;align-items:center;position:absolute;left:0;bottom:0;width:100%;height:100%;background-color:#4385F5;")
            //            div.center-align.white-text(style="font-size:1.5rem;") NODE.JS
            //      .col.s7.m10.l10
            //        span(style="font-size:1.2rem;") Nodejs工程师
            //        div(style="line-height:1.5rem;") 2016-12-06 深圳市南山区</br>
            //          span.hide-on-small-only(style="line-height:1.5rem;") 岗位类别:研发类 招聘人数:1
            //  .collapsible-body
            //    p <b>职位描述：</b>实时Web系统和协议开发</br><b>岗位需求：</b>大学及以上学历，两年以上工作经验。精通nodejs 开发。熟悉webstorm git coffeescript angular requirejs npm ngnix mongodb express和socket.io等工具或技术。具备英语读写能力。</br><b>加分项目：</b>参与开源项目、相关Web分布式系统开发经验。
            li
              .collapsible-header.job-ext-css
                .col.s5.m2.l2
                  .job-web-left
                    h5.job-web-h5.center-align.white-text Web
                .col.s7.m10.l10
                  .card-content.job-web-text
                    span(style="font-size:1.4rem;color:#333;").job-web-text-span Web工程师
                    p(style="font-size:1rem;color:#666;").job-web-text-p
                      span 2016-12-06 深圳市南山区
                      br
                      span.hide-on-small-only 岗位类别:研发类 招聘人数:2
              .collapsible-body-job
                p <b>职位描述：</b>实时Web系统和协议开发</br><b>岗位需求：</b>大学及以上学历，两年以上工作经验。精通nodejs 开发。熟悉webstorm git coffeescript angular requirejs npm ngnix mongodb express和socket.io等工具或技术。具备英语读写能力。</br><b>加分项目：</b>参与开源项目、相关Web分布式系统开发经验。
      .row
        .col.s12.m12.l12
          ul.collapsible(data-collapsible="accordion")
            //li
            //  .collapsible-header(style="padding-left:0;")
            //    .row(style="margin:1rem 0;")
            //      .col.s5.m2.l2
            //        div(style="position:relative;text-align:center;width:100%;height:0;padding-bottom:100%;!background-color:#ccc;")
            //          div(style="display:flex;justify-content:center;align-items:center;position:absolute;left:0;bottom:0;width:100%;height:100%;background-color:#4385F5;")
            //            div.center-align.white-text(style="font-size:1.5rem;") Mongo
            //      .col.s7.m10.l10
            //        div(style="font-size:1.2rem;") Mongodb工程师
            //        div(style="line-height:1.5rem;") 2016-12-06 深圳市南山区
            //        div.hide-on-small-only(style="line-height:1.5rem;") 岗位类别:研发类 招聘人数:1
            li
              .collapsible-header.job-ext-css
                .col.s5.m2.l2
                  .job-web-left
                    h5.job-web-h5.center-align.white-text Mongodb
                .col.s7.m10.l10
                  .card-content.job-web-text
                    span(style="font-size:1.3rem;color:#333;").job-web-text-span Mongodb工程师
                    p(style="font-size:1rem;color:#666;").job-web-text-p
                      span 2016-12-06 深圳市南山区
                      br
                      span.hide-on-small-only 岗位类别:研发类 招聘人数:1
              .collapsible-body-job
                p <b>职位描述：</b>&nbsp;数据库报表开发和大数据分析</br><b>岗位需求：</b>&nbsp;大学及以上学历，两年以上工作经验。精通nodejs 和mongodb开发。熟悉git npm coffeescript和express等工具或技术。熟悉SQL和Jasper/RDL报表开发，具备英语读写能力</br><b>加分项目：</b>&nbsp;参与开源项目、大型分布式mongodb运维经验。
      .row
        .col.s12.m12.l12
          ul.collapsible(data-collapsible="accordion")
            //li
            //  .collapsible-header(style="padding:0;")
            //    .row(style="margin:1rem 0;")
            //      .col.s5.m2.l2
            //        div(style="position:relative;text-align:center;width:100%;height:0;padding-bottom:100%;!background-color:#ccc;")
            //          div(style="display:flex;justify-content:center;align-items:center;position:absolute;left:0;bottom:0;width:100%;height:100%;background-color:#4385F5;")
            //            div.center-align.white-text(style="font-size:1.4rem;") Hardware
            //      .col.s7.m10.l10
            //        div(style="font-size:1.2rem;") 智能硬件工程师
            //        div(style="line-height:1.5rem;") 2016-12-06 深圳市南山区
            //        div.hide-on-small-only(style="line-height:1.5rem;") 岗位类别:研发类 招聘人数:1
            li
              .collapsible-header.job-ext-css
                .col.s5.m2.l2
                  .job-web-left
                    h5.job-web-h5.center-align.white-text Hardware
                .col.s7.m10.l10
                  .card-content.job-web-text
                    span(style="font-size:1.4rem;").job-web-text-span 智能硬件工程师
                    p.job-web-text-p
                      span 2016-12-06 深圳市南山区
                      br
                      span(style="font-size:1rem;").hide-on-small-only 岗位类别:研发类 招聘人数:1
              .collapsible-body-job
                p <b>职位描述：</b>数据采集嵌入式软硬件开发。</br><b>岗位需求：</b>大学及以上学历，两年以上工作经验。精通嵌入式硬件设计和底层软件开发，熟悉PCB和结构造型设计，熟悉智能硬件、Linux操作系统和工业通信协议。具备英语读写能力。</br><b>加分项目：</b>树莓派或Android设计和开发经验。

    include templates/layout/footer
    script.
      $(document).ready(function () {
        $('.collapsible').collapsible({
          accordion: false
        });
      });
