//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.micromodule-picture-1
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  微模块
        div.background-style
        .container-banner-content-subtitle.center 数据中心模块机房监控。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-1
      .section-index-0
        .container(style="width:90%;padding-top:80px;")
          .row
            .title.center-align 微模块
            div.background-style
            .subtitle.center-align(style="margin-top:10px;") 模块机房管理云平台。打破传统软件格局，融入灵活配置,2d/3d组态可视化，各项实时运行数据展示、告警提示、远程控制等核心需求，机房管理人员与硬件设施从未如此亲近~
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/micromodule-centralized-monitoring.svg')
                .col.s6.m12
                  div.card-title.center 微模块集中监控
                  p.card-text.center 系统架构支持多模块机房监控。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/micro-module-overview.svg')
                .col.s6.m12
                  div.card-title.center 微模块总览
                  p.card-text.center 单微模块组态概览及核心参数列表。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/2D3D.svg')
                .col.s6.m12
                  div.card-title.center 2D/3D组态
                  p.card-text.center 支持2D/3D组态展示，一张组态图足以了解整个模块机房的运行状态。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/PSMS.svg')
                .col.s6.m12
                  div.card-title.center 动环监控
                  p.card-text.center 模块机房详细的动环监控，各个设备属性，实时运行数据，告警状况，控制命令等的清晰展示。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/assets-management.svg')
                .col.s6.m12
                  div.card-title.center 资产管理
                  p.card-text.center 模块机房内部所有接入设备可按分类罗列，一览设备生命周期及各项属性参数。可便捷的进行增删设备编辑设备等操作。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/capacity-management.svg')
                .col.s6.m12
                  div.card-title.center 容量管理
                  p.card-text.center 可视化机房、机柜容量管理，包含空间、制冷、承重、电力、端口五部分。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/video-surveillance1.svg')
                .col.s6.m12
                  div.card-title.center 视频监控
                  p.card-text.center(style='padding-bottom:6rem') 图片流及视频流两种视频展示方式，支持直播监控及监控录制回放。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/access-control.svg')
                .col.s6.m12
                  div.card-title.center 门禁管理
                  p.card-text.center 将传统门禁系统集成到微模块系统，并实现模块内数据联动。
            .col.s12.m4.l4
              div &nbsp;
    .medium-6
      .row.card.background-color.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/module-list-01.png')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 微模块集中监控
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 针对物联网业务的特点设计的普适性应用架构，系统架构支持接入多个模块机房，并能够按模块机房进行分类管理。
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 微模块总览
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 单微模块组态概览及核心参数列表。主组态图+主功能块核心参数展示，组态图展示侧重实时机房状态与数据。主功能块展示所关心的主要统计参数数据。
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/module-mainboard-02.png')
    .medium-6
      .row.card.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/module-monitoring-04.png')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 动环监控
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 模块机房详细的动环监控，各个设备属性，实时运行数据，告警状况，控制命令等的清晰展示。
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 2D/3D组态
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 从模块门的开关状态到微模块内部温湿度到各机柜的容量电力冷量的实时状况等等您所关心的数据，一张组态图足以了解整个模块机房的运行状态。
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/module-3d-03.png')
    .medium-6
      .row.card.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/module-equipments-05.png')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 资产管理
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 模块机房内部所有接入设备可按分类罗列，一览设备生命周期及各项属性参数。可便捷的进行增删设备编辑设备等操作。
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 视频监控
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 图片流及视频流两种视频展示方式，支持直播监控及监控录制回放。
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/module-video-07.png')
    .medium-6
      .row.card.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/module-capacity-06.png')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 容量管理
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 采用人工方式录入资产数据、资产变更、资产盘点和审计可能造成数据同步不及时、 录入错误率较高和工作量较大的问题。CLC-DCIM 提供基于 RFID 的精确到机柜 U 位级的自动化资产管理方案。
  include templates/layout/footer
