doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.new-energy-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  分布式新能源
        div.background-style
        .container-banner-content-subtitle.center 数字信息技术、互联网技术与光伏技术进行跨界融合，推出领先的智能光伏解决方案。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-3
      .section-index-0
        .container(style="width:90%")
          .row.center
            img(style="width: 200px;height: 150px;")(src="./images/svg/photovoltaic-power-generation.svg")
          .title-1.white-size.center-align 分布式新能源
            div.background-style
          .subtitle.center-align(style="margin-top:10px;") 基于全数字化、让电站更简单、全球化自动运维等创新理念，打造“高效发电、智能运维、安全可靠”的智能光伏电站，帮助客户在电站生命周期中获得最大价值，在全球已获得广泛应用。
          div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
    .medium-1-1
      .section-index-0
        .container(style="width:90%")
          .row
            .col.s12.m3
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./photovoltaic-power-generation.html')
                      img(src='./images/svg/photovoltaic-power-generation.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./photovoltaic-power-generation.html') 光伏发电
                  p.card-text 通过全数字化、让电站更简单、全球化自动运维等创新理念，打造“高效发电、智能运维、安全可靠”的智能光伏电站解决方案，实现电站和客户的价值的最大化。
            .col.s12.m3
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./facilities-management.html')
                      img(src='./images/svg/wind-power-generation.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./facilities-management.html') 风能发电
                  p.card-text 从降低能耗、减少运营成本到增强公共安全，凭借在无线领域的优势，我们对基础设施进行转化，以解决风能发电所面临的复杂挑战。
            .col.s12.m3
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./facilities-management.html')
                      img(src='./images/svg/accumulation-system.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./facilities-management.html') 储能系统
                  p.card-text 针对ES系列和BP系列监控推出的移动工具。储能系统APP旨在让用户们可便捷的操控。
            .col.s12.m3
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./facilities-management.html')
                      img(src='./images/svg/charging-pile.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./facilities-management.html') 充电桩
                  p.card-text 实现计时、计电度、计金额充电，可以作为市民购电终端。同时为提高公共充电桩（栓）的效率和实用性，今后将陆续增加一桩（栓）多充功能。
  include templates/layout/footer
