doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section_bigbanner
      .section_bigbanner_container(data-image-l="images/newscenter/newsCenter.jpg" data-image-s="images/newscenter/newsCenter-mobile.jpg")
        img.responsive-img(src='./images/newscenter/newsCenter.jpg')
    .warp-content.wrap-content-newsCenter
      .section_background
        .container
          .row.section_row
            a(href='http://bigdata.51cto.com/art/201702/529880.htm')
              .col.news-section.s12.m12.l4
                img.news_image(src='images/newscenter/news20170205.png' target="_blank")
                .main-title.news-title 面对数据中心高能耗，是“逃离”还是“自我革命”
                .text-content.news-info.left-align 在许多人看来，IT行业是一个严谨、缜密甚至有些死板的行业，但这并不代表IT圈就没有“脑洞大开”的创意，比如：把数据中心建在海底...
                .news-data-contain
                  .text-content.news-data 2017-02-05
            a(href='./news20161008.html')
              .col.news-section.s12.m12.l4
                img.news_image(src='images/newscenter/news-idc20161012.png')
                .main-title.news-title 第十一届IDC产业年度评选报名正式启动
                .text-content.news-info.left-align 伴随着第十一届IDC产业年度大典的启动，由中国IDC圈举办的第十一届中国IDC产业年度大典评选已于10月10日起正式开始进入报名阶段...
                .news-data-contain
                  .text-content.news-data 2016-10-08
            a(href='http://news.idcquan.com/gjzx/97161.shtml' target="_blank")
              .col.news-section.s12.m12.l4
                img.news_image(src='images/newscenter/news-ups20160825.png')
                .main-title.news-title 2020年数据中心UPS市场规模预计将达到56.7亿美元
                .text-content.news-info.left-align 一份报告表明，2020年全球数据中心不间断电源（UPS）市场规模预计将达到56.7亿美元...
                .news-data-contain
                  .text-content.news-data 2016-08-25
            a(href='http://news.idcquan.com/gjzx/89398.shtml' target="_blank")
              .col.news-section.s12.m12.l4
                img.news_image(src='images/newscenter/news-mic20160516.png')
                .main-title.news-title 微软将在都柏林打造四个全新数据中心 耗资10亿美元
                .text-content.news-info.left-align 微软计划投资9亿欧元（超10亿美元）在爱尔兰首都都柏林建立四个全新的数据中心。新数据中心将位于都柏林以西Clondalkin小镇...
                .news-data-contain
                  .text-content.news-data 2016-05-16
            a(href='http://news.xinhuanet.com/fortune/2016-01/12/c_128621303.htm' target="_blank")
              .col.news-section.s12.m12.l4
                img.news_image.responsive-img(src='images/newscenter/news-20161012.png')
                .main-title.news-title 数据中国与互联网发展高峰论坛在京举行
                .text-content.news-info.left-align 为深入探讨大数据及互联网发展的路径、趋势等问题，进一步提升“互联网+”对经济转型升级的促进作用，由新华社《经济参考报》主办、清华...
                .news-data-contain
                  .text-content.news-data 2016-01-12
          //.row
          //  ul.pagination
          //    li.disabled
          //      a(href="#!")
          //        i.material-icons.md-dark &#xe314
          //    li.active
          //      a(href="#!") 1
          //    li.waves-effect
          //      a(href="#!") 2
          //    li.waves-effect
          //      a(href="#!") 3
          //    li.waves-effect
          //      a(href="#!") 4
          //    li.waves-effect
          //      a(href="#!") 5
          //    li.disabled
          //      a(href="#!")
          //        i.material-icons.md-dark &#xe315

    include templates/layout/footer

    script.
      $(function () { //banner switch(picture) in mobile
        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }

        }
        $(window).on('resize', resize).trigger('resize');
      })

