doctype html
html
  include templates/_layout/head
  body
    include templates/_layout/nav
    .section_bigbanner
      .section_bigbanner_container(data-image-l="images/newscenter/newsCenter.jpg" data-image-s="images/newscenter/newsCenter-mobile.jpg")
        img.responsive-img(src='./images/newscenter/newsCenter.jpg')
    .warp-content.wrap-content-news
      .section_background
        .container
          .row
            .col-s-12.col-s-offset-1.col-m-10
              ol.breadcrumb
                li
                  a(href="./index.html") 首页
                li.active 新闻中心
          .row.section_row
            .news-title.center-align 第十一届IDC产业年度评选报名正式启动
            .news-sub
              span.time 2016-10-08
            .align-center.bottom-2rem
            p 2016年IDC服务商服务能力不断提升，跨界融合逐步深入，合作、创新、开放、共赢成为这个时期的主旋律。作为国内数据中心、云计算领域的标志性盛会，在过去十年里IDCC大会与业内人士共同见证了IDC行业从良莠不齐逐步走向规范化，为了进一步推进国内IDC产业健康发展，第十一届IDC产业年度大典（IDCC2016）将于2016年12月20-22日在北京国家会议隆重召开。
            //div
            //  img.news-content-img.responsive-img(src='images/banner1.png')
            p 伴随着会议的启动，由中国IDC圈举办的第十一届中国IDC产业年度大典评选于10月10日起正式开始进入报名阶段。
              a(href="http://cio.idcquan.com/vote/80606.shtml") 点我报名
            p 通过报名的企业，将会在2016年10月31日-11月30日进行网络投票。投票环节结束后将由48位专家组成评审团进行评选，主办单位将在2016年12月20日的"智·创2016 IDC产业大会上"上公布评选结果，并颁发相关奖项。
            p 此次参选奖项分为企业品牌奖与优秀产品奖，其中
             b 企业品牌奖
             span 包括：
            p 2016年度中国IDC产业最具影响力企业奖
            p 2016 年度中国IDC产业优质服务奖
            p 2016年度中国IDC产业优秀第三方数据中心奖
            p 2016年度中国IDC产业绿色数据中心奖
            p 2016年度中国IDC产业创新企业奖
            p
             b 优秀产品奖
             span 包括：
            p 2016年度中国IDC 产业优秀域名服务奖
            p 2016年度中国IDC 产业优秀虚拟主机奖
            p 2016年度中国IDC产业优秀云主机奖
            p 2016年度中国IDC产业优秀云平台奖
            p 2016 年度中国IDC 产业优秀主机托管奖
            p 中国IDC产业年度大典奖项设计遵循公平、公正、公开的原则，用户专委会48名专家组成评审团，将根据产业大典调查小组提供的调查数据评选而成；调查评选数据及参数通过互联网即可查询；评选结果将于2016年12月20日对外发布，并将通过组委会新闻中心、大典现场、新闻媒体等多种渠道进行报道。
            p 本次年会将对2016年中国IDC产业发展进行全面的总结，评选出在2016年为中国IDC产业发展做出重要贡献并具有代表性的企业，为IDC行业树立典范，进一步促进国内IDC产业的健康发展
            p 在线报名地址：
              a(href="http://cio.idcquan.com/vote/80606.shtml") http://cio.idcquan.com/vote/80606.shtml
    include templates/_layout/footer
    script.
      $(function () { //banner switch(picture) in mobile
        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }
        }

        $(window).on('resize', resize).trigger('resize');
      })
