doctype html
html
  include templates/layout/head
  body(style='background-color:#dfe0e0')
    include templates/layout/nav
    .medium-3
      .synopsis-medium-3-1
        .row.center(style='margin-bottom:0px;')
          img.synopsis-img(src="./images/svg/news1.svg")
        .title-1.center-align.white-font(style='color:#03a9f4;') 新闻中心
    .medium-6
      .row
        .col.s12.m6.l6
          .card.hoverable
            .card-content
              .row
                .col.s12.m12.l12
                  img.medium-6-img(src='./images/Platform-advantage-background.jpg')
                .col.s12.m12.l12
                  div
                    p 2017-04-23
                .col.s12.m12.l12
                  p.medium-6-size-3 QIO和Syniverse合作加速运行4.0
                .col.s12.m12.l12.center
                  div.waves-effect.waves-light.btn-large.dropdown-button.news-size(href="#!", data-activates="点击阅读") 点击阅读
        .col.s12.m6.l6
          .card.hoverable
            .card-content
              .row
                .col.s12.m12.l12
                  img.medium-6-img(src='./images/Platform-advantage-background.jpg')
                .col.s12.m12.l12
                  div
                    p 2017-04-23
                .col.s12.m12.l12
                  p.medium-6-size-3 QIO和Syniverse合作加速运行4.0
                .col.s12.m12.l12.center
                  div.waves-effect.waves-light.btn-large.dropdown-button.news-size(href="#!", data-activates="点击阅读") 点击阅读
    .synopsis-medium-3-1
      .row.center(style='margin-bottom:0px;')
        img.synopsis-img(src="./images/svg/recruitment.svg")
        .title-1.center-align.white-font(style='color:#03a9f4;') 招贤纳士
          a(href='./recruitment.html')
            img.center(src='./images/svg/getinto.svg',style='width:20px;margin-left:20px;')
  include templates/layout/footer
