doctype html
html
  include templates/_layout/head
  //body
    include templates/_layout/nav
    .section_bigbanner
      .section_bigbanner_container(data-image-l="images/newscenter/newsCenter.jpg" data-image-s="images/newscenter/newsCenter-mobile.jpg")
        img.responsive-img(src='./images/newscenter/newsCenter.jpg')
    .warp-content.wrap-content-news
      .section_background
        .container
          .row
            .col-s-12.col-s-offset-1.col-m-10
              ol.breadcrumb
                li
                  a(href="./index.html") 首页
                li.active 新闻中心
          .row.section_row
            .news-title.center-align 数据中国与互联网发展高峰论坛在京举行
            .news-sub
              span.time 2016-10-10
            .align-center.bottom-2rem
            p 根据Synergy Research Group最近发布的云基础设施厂商排名， Cisco, HP Enterprise和 Dell EMC排在公有云硬件厂商的前三名，这无疑是个好消息。
            //div
            //  img.news-content-img.responsive-img(src='images/banner1.png')
            p 但是云技术的发展让服务器厂商面临着严峻的形势，很多的潜在客户可能会更倾向于选择外部云服务商，而不是像以前那样购入大量的硬件设备。去年HPE的服务器收入只保持了3.5%的增长。换句话说，各大品牌服务器厂商在云中基本上都是失败者。
            p Dell和EMC联合抗衡HPE、Cisco以及其它厂商，这一策略看起来似乎是奏效了，最起码其在私有云基础设施市场占有了一席地位。
            p 私有云只是企业计算的过渡阶段， 规避风险的CIO们都在踮着脚等着走向真正的公共云计算。对此，分析师 Curt Monash 认为：人们广泛接受并认同以上观点，但是基于经济条件和企业规模的考量，只有少数企业适合经营自己的数据中心。
            div
              img.news-content-img.responsive-img.materialboxed(src='images/newscenter/news20161010-1476067147594.jpeg')
            p 如图所见，这些公司同时也在发力公有云服务器市场，它们在私有云和公有云的支出同比增长了16%，其中HPE占有15%的市场份额，Cisco占有14%的市场份额，Dell EMC占有13%的市场份额。
            p
             a(href="http://news.idcquan.com/Special/2015baogao/" target="_blank") IDC报告
             span 指出，品牌厂商越发感觉到来自ODM的压力，它们虽然没有知名的品牌，但是却有着越来越多的定制化服务器产品。IDC研究分析师Eckhardt Fischer注意到ODM具有很强的带动性，且将持续扩张，IDC预计大型数据中心和大型企业会直接对接硬件厂商。
            p 我们希望这一趋势能够帮助公有云基础设施的收入超过私有云基础设施，Gartner发现公有云VMs正以20倍的速度高速增长，而私有云VM则以三倍的速度缓慢增长。IDC发现rack-optimized被认为是公有云数据中心的通用架构，是季度营收的增长点，是云计算服务器市场向传统服务器市场掀起的一次挑战。
            p 传统服务器厂商反击的方式是拥抱自定义服务器。根据 Agam Shah报道，联想针对特定任务的工作提供定制的融合服务器，为了满足客户需求，调整software-plus-hardware。这是服务器行业的一个趋势，它可以既可以提高服务器厂商的一线收入也可以提升它们的盈利潜力。
            p 但是这些努力还不足以动摇AWS、Microsoft Azure、Google等一些云供应商的市场地位。Facebook建立自己的数据中心，向公有云供应商定制服务器。类似这样的情况还在不断发生，传统服务器厂商的前景难免会有点萧条。
    include templates/_layout/footer
    script.
      $(function () { //banner switch(picture) in mobile
        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }
        }

        $(window).on('resize', resize).trigger('resize');
      })

