//
   Created by faner on 2017/6/6.
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    include templates/layout/picture-carousel
include templates/layout/footer
