doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.power-monitoring-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  电力监控与能源效率
        div.background-style
        .container-banner-content-subtitle.center 从降低能耗、减少运营成本到增强公共安全，凭借在无线领域的优势，我们对基础设施进行转化,以解决所面临的复杂挑战。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-3
      .section-index-0
        .container(style="width:90%")
          .row.center
            img(style="width: 160px;height: 160px;")(src="./images/svg/electrical-energy.svg")
          .title-1.white-size.center-align 电力监控与能源效率
            div.background-style
          .subtitle.center-align(style="margin-top:10px;") 为了真正创建智能和可持续发展的能源，以及系统平台到现场实施，我们必须将整个生态系统相结合。 通过整合所有层面的新技术，确保终端用户可无缝享受智能管理带来的优越体验。
          div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
    .medium-1-1
      .section-index-0
        .container(style="width:100%")
          .row
            .col.s12.m4
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./electrical-energy.html')
                      img(src='./images/svg/electrical-energy.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./electrical-energy.html') 电力能源
                  p.card-text 电力能源管理系统是电力行业管理与工业互联网大数据分析平台的完美结合，具有强大的历史能耗数据追溯和分析功能；可广泛应用于智能电网、智能大厦、智能化小区以及市政建设、港口、机场等诸多领域；是一个可视化、智能化、网络化的智能电力信息开放式管理平台。
            .col.s12.m4
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./energy-management.html')
                      img(src='./images/svg/energy-control.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./energy-management.html') 能源管理
                  p.card-text 实现前后方远程协同运维，降低一线运维人员的技能要求，最大化的复用总部专家资源，实现人员的最优化配置，提高系统的维护效率。
            .col.s12.m4
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./metro-energy.html')
                      img(src='./images/svg/metro-energy.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./metro-energy.html') 地铁能源
                  p.card-text 地铁的能耗分布情况和地铁计算机通信网络的技术特点。应构建地铁能源管理系统,从而实现优良供能、降低能耗、降低地铁运营成本和提高用能效率的目的。
    .medium-2.center
      .medium-2-1
        div
          a.btn.dropdown-button(href="#!", data-activates="了解更多",style="background-color:#03A9F4;margin:25px auto;color:#000000") 下载白皮书
            i.mdi-navigation-arrow-drop-down.right
            //.col.s12.m3
            //  div
            //    .col.s12.m12.center.padding-top-10
            //      span.card-icon
            //        img(src='./images/svg/video-surveillance.svg')
            //    .col.s12.m12
            //      div.card-title 视频监控
            //      p.card-text 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //.medium-5
    //  .section-index-0
    //    .container.power-monitoring-medium-5-1
    //      .row.center
    //        .title.center-align(style='color:#FFFFFF;') 改变人与世界及彼此之间的互交方式
    //        div(style='margin-bottom:35px;')
    //          a.btn.dropdown-button(href="#!", data-activates="观看视频",style="background-color:#03A9F4;margin:25px auto;color:#FFFFFF") 观看视频
    //            i.mdi-navigation-arrow-drop-down.right
    //        .col.s12.m4(style='color:#FFFFFF;')
    //          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带
    //            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //        .col.s12.m4
    //          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带
    //            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //        .col.s12.m4
    //          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带
    //            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
  include templates/layout/footer


