//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.rack-picture-1
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  智能机柜
        div.background-style
        .container-banner-content-subtitle.center 具备智能恒温、智能恒湿、供电系统监测与控制、防入侵门禁及柜门状态监控系统、远程集中管控等功能的现代化智能型机柜。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-1
      .section-index-0
        .container(style="width:90%;padding-top:80px;")
          .row
            .title.center-align 智能机柜
            div.background-style
            .subtitle.center-align(style="margin-top:10px;") 依托智能机柜，为您提供更为 精准、方便、快捷的管理手段，提高机房基础设施运行效率和运维水平，为设备运行创造良好的环境，让您高枕无忧！
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/weChat-official-account.svg')
                .col.s6.m12
                  div.card-title.center 微信公众号
                  p.card-text.center 无需安装app，只要关注微信公众号，就能实时查看机柜状态和管理机柜。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/WeChat-warning.svg')
                .col.s6.m12
                  div.card-title.center 微信告警通知
                  p.card-text.center 关注微信公众号后，绑定相关账号，就能收到机柜告警的实时微信通知，方便，实时，快捷。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/rack-monitor.svg')
                .col.s6.m12
                  div.card-title.center 机柜实时监控
                  p.card-text.center 只要手机在手，就能随时随地查看机柜的实时状态，实时监控。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/historical-curve-query.svg')
                .col.s6.m12
                  div.card-title.center 历史曲线查询
                  p.card-text.center 提供历史数据查询，生成历史曲线，方便统计分析。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/monitoring-configuration.svg')
                .col.s6.m12
                  div.card-title.center 监控在线配置
                  p.card-text.center 微信公众号内操作，即可在线配置监控，方便快捷。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/alarm-threshold-adjustment.svg')
                .col.s6.m12
                  div.card-title.center 告警阀值调整
                  p.card-text.center(style='padding-bottom:6rem') 可以配置启用告警，关闭告警和设置告警阀值，以达到实际需求。
    .medium-6
      .row
        .col.s12.m6.l6.card.background-color
          .row
            .col.s12.m6.l6
              .col.s12.m12.l12
                img.medium-6-img(src='./images/rack-alarm.png')
            .col.s12.m6.l6(style='padding-top:23%;')
              .col.s12.m12.l12
                div.medium-6-size-1
                  p 微信告警通知
              .col.s12.m12.l12
                div.background-style-1
              .col.s12.m12.l12
                p.medium-6-size-2 清楚呈现告警标题，告警时间，告警开始值，告警结束值，告警场所，告警级别等告警信息。
        .col.s12.m6.l6.card.background-color
          .row
            .col.s12.m6.l6
              .col.s12.m12.l12
                img.medium-6-img-1(src='./images/rack-monitor.jpg')
            .col.s12.m6.l6(style='padding-top:23%;')
              .col.s12.m12.l12
                div.medium-6-size-1
                  p 机柜实时监控
              .col.s12.m12.l12
                div.background-style-1
              .col.s12.m12.l12
                p.medium-6-size-2 提供机柜温度，湿度，电流和用电量等等的监控。
    .medium-6
      .row
        .col.s12.m6.l6.card.background-color
          .row
            .col.s12.m6.l6
              .col.s12.m12.l12
                img.medium-6-img(src='./images/history-curve.jpg')
            .col.s12.m6.l6(style='padding-top:23%;')
              .col.s12.m12.l12
                div.medium-6-size-1
                  p 历史曲线查询
              .col.s12.m12.l12
                div.background-style-1
              .col.s12.m12.l12
                p.medium-6-size-2 提供实时曲线，今日曲线，本周曲线，本月曲线，本年曲线。
        .col.s12.m6.l6.card.background-color
          .row
            .col.s12.m6.l6
              .col.s12.m12.l12
                img.medium-6-img(src='./images/alarm-threshold.jpg')
            .col.s12.m6.l6(style='padding-top:23%;')
              .col.s12.m12.l12
                div.medium-6-size-1
                  p 告警阀值调整
              .col.s12.m12.l12
                div.background-style-1
              .col.s12.m12.l12
                p.medium-6-size-2 启用告警，关闭告警，告警最低阀值，告警最高阀值提供机柜温度，湿度，电流和用电量等等的监控。
  include templates/layout/footer
