doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.recruitment-picture-1
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  我们需要你加入
        div.background-style
        .container-banner-content-subtitle.center 创业的氛围让每个人都积极创新，为做出美好的事情而努力在这里没有大公司的等级观念，每个人都可以随时提出自己的创意和想法。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .recruitment-medium-2
      .row
        .col.s12.m12.l12
          div.center
              span.picture-size-5
                img.img-size(src='./images/svg/bluelogo.svg')
        .col.s12.m12.l12
          .section-index-0
            .subtitle.text-indent-2(style="margin-top:10px;") CLC-DATA专注于实时数据开放平台研发，提供软件即服务的实时数据云平台，成为技术领先的工业物联网领跑者。如果你有想象力，解放思想和参与态度，并且能够带来洞察力和技术诀窍，我们的使命就是不停地寻找性能突破，解开被困的生产力，我们很乐意听到你的来信。
    //.about-medium-5
    //  .container(style="width:90%;padding-top:50px;")
    //    .title-1.center-align.white-font 我们
    //      div.background-style
    //    .footer-font-size-1.center-align.white-font(style="margin-top:10px;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
    //  .container(style="width:90%;padding-top:50px;")
    //    .title-1.center-align.white-font 应用
    //      div.background-style
    //    .footer-font-size-1.center-align.white-font(style="margin:20px auto;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
    //  .container(style="width:90%;padding-top:50px;")
    //    .title-1.center-align.white-font 专利/版权
    //      div.background-style
    //    .footer-font-size-1.center-align.white-font(style="margin:20px auto;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
    .medium-3
      div(style="width:100%;background-color:#2B3034;padding-top:10px;padding-bottom:10px;")
        .row.center
          img(style="width: 100px;height: 100px;")(src="./images/svg/recruitment.svg")
        .title-1.center-align.white-font(style='color:#03a9f4;') 我们在招聘的职位？
    .about-medium-1-1-1
      .section-index-0
        .container.recruit
          .row
            .col.s12.m8.l8
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') 前端工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区
            .col.s12.m4.l4
              div
                  a.card-title.right(style='margin-top:40px;font-size:1rem;text-align:right;',href = "JavaScript:void(0)" onclick = "document.getElementById('light1').style.display='block';document.getElementById('fade').style.display='block'") 招聘详情&nbsp;&nbsp;
                    img(src='./images/svg/getinto.svg',style='width:7%;')
                  div#light1.white_content
                    p 职位描述：HTML5、微信和手机APP应用开发。
                    p 岗位需求：大学及以上学历，两年以上工作经验。精通javascript html css 开发。熟悉webstorm git bower coffeescript jade angular bootstrap materialize requirejs d3 threejs echarts 和socket.io等工具或技术。具备英语读写能力。
                    p 加分项目：参与开源项目、相关实时数据Web开发经验。
                    a(href = "javascript:void(0)" onclick = "document.getElementById('light1').style.display='none';document.getElementById('fade').style.display='none'")
                      div.center
                        .waves-effect.waves-light.btn-large.dropdown-button.news-size-1(data-activates="关闭") 关闭
                  div#fade.black_overlay
          .row
            .col.s12.m8.l8
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') 数据分析师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:2 2017-05-22 深圳市南山区
            .col.s12.m4.l4
              div
                a.card-title.right(style='margin-top:40px;font-size:1rem;text-align:right;',href = "JavaScript:void(0)" onclick = "document.getElementById('light2').style.display='block';document.getElementById('fade').style.display='block'") 招聘详情&nbsp;&nbsp;
                  img(src='./images/svg/getinto.svg',style='width:7%;')
                div#light2.white_content
                  p 职位描述：实时Web系统和协议开发
                  p 岗位需求：大学及以上学历，两年以上工作经验。精通nodejs 开发。熟悉webstorm git coffeescript angular requirejs npm ngnix mongodb express和socket.io等工具或技术。具备英语读写能力。
                  p 加分项目：参与开源项目、相关Web分布式系统开发经验。
                  a(href = "javascript:void(0)" onclick = "document.getElementById('light2').style.display='none';document.getElementById('fade').style.display='none'")
                    div.center
                      .waves-effect.waves-light.btn-large.dropdown-button.news-size-1(data-activates="关闭") 关闭
                div#fade.black_overlay
          .row
            .col.s12.m8.l8
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') 协议工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区
            .col.s12.m4.l4
              div
                a.card-title.right(style='margin-top:40px;font-size:1rem;text-align:right;',href = "JavaScript:void(0)" onclick = "document.getElementById('light3').style.display='block';document.getElementById('fade').style.display='block'") 招聘详情&nbsp;&nbsp;
                  img(src='./images/svg/getinto.svg',style='width:7%;')
                div#light3.white_content
                  p 职位描述： 数据库报表开发和大数据分析
                  p 岗位需求： 大学及以上学历，两年以上工作经验。精通nodejs 和mongodb开发。熟悉git npm coffeescript和express等工具或技术。熟悉SQL和Jasper/RDL报表开发，具备英语读写能力
                  p 加分项目： 参与开源项目、大型分布式mongodb运维经验。
                  a(href = "javascript:void(0)" onclick = "document.getElementById('light3').style.display='none';document.getElementById('fade').style.display='none'")
                    div.center
                      .waves-effect.waves-light.btn-large.dropdown-button.news-size-1(data-activates="关闭") 关闭
          .row
            //.col.s12.m4.l2
            //  div
            //    .center.padding-top-10
            //      span.picture-size-4
            //        img.img-size(src='./images/svg/Hardware.svg')
            .col.s12.m8.l8
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') UI工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区
            .col.s12.m4.l4
              div
                a.card-title.right(style='margin-top:40px;font-size:1rem;text-align:right;',href = "JavaScript:void(0)" onclick = "document.getElementById('light4').style.display='block';document.getElementById('fade').style.display='block'") 招聘详情&nbsp;&nbsp;
                  img(src='./images/svg/getinto.svg',style='width:7%;')
                div#light4.white_content
                  p 职位描述：数据采集嵌入式软硬件开发。
                  p 岗位需求：大学及以上学历，两年以上工作经验。精通嵌入式硬件设计和底层软件开发，熟悉PCB和结构造型设计，熟悉智能硬件、Linux操作系统和工业通信协议。具备英语读写能力。
                  p 加分项目：树莓派或Android设计和开发经验。
                  a(href = "javascript:void(0)" onclick = "document.getElementById('light4').style.display='none';document.getElementById('fade').style.display='none'")
                    div.center
                      .waves-effect.waves-light.btn-large.dropdown-button.news-size-1(data-activates="关闭") 关闭
    div.map
      img(src='./images/map03.jpg',style='width:100%;')
  include templates/layout/footer


