//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.robot-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  机器人
        div.background-style
        .container-banner-content-subtitle.center 人工智能，把握第四次工业革命带来的重大机遇。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-1
      .section-index-0
        .container(style="width:90%;padding-top:80px;")
          .row
            .title.center-align 机器人
            div.background-style
            .subtitle.center-align(style="margin-top:10px;") 我们致力于帮助客户提高生产效率、改善产品质量、提升安全水平。
          .row
            .col.s12.m6.l6
              div
                .col.s6.m12.l12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/2D3D.svg')
                .col.s6.m12.l12
                  div.card-title.center 信息展示
                  p.card-text.center 实时环境与机器人信息展示，包括百度地图位置高精度定位含卫星及三维地图切换，烟感、温湿度、pm2.5的环境信息采集、四周摄像、人脸识别、机器人实时电量信息等。
            .col.s12.m6.l6
              div
                .col.s6.m12.l12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/electronic-map.svg')
                .col.s6.m12.l12
                  div.card-title.center 控制命令
                  p.card-text.center(style='padding-bottom:6rem') 以倒酒机器人为蓝本，可以方便的对其发布控制命令，控制机器人倒酒、左右转、行走、暂停等功能。
    .medium-6
      .row.card.background-color.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/robot.png')
        .col.s12.m5.l5(style='padding-top:4%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 机器人信息展示
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p 可在界面直接对机器人发送指令；
            p 可显示机器人当前位置；
            p 可与机器人进行互动。
  include templates/layout/footer
