doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section_bigbanner
      .section_bigbanner_container(data-image-l="images/shardware/sHardware-02.jpg" data-image-s="images/shardware/sHardware-02-mobile.jpg")
        img.responsive-img.second-page-banner(src='./images/shardware/sHardware.jpg')
        //.banner-text-height
      .warp-content.shardware
        .container
          .row
            .col.s12.m12.l6
              ul.collapsible-s.znjg(data-collapsible="accordion")
                li
                  .collapsible-s-header
                    div.ckxq 智能机柜
                    div.inner
                      img.responsive-img(src='images/shardware/shardware-znjg.svg')
                  .collapsible-s-body
                    div.title
                      span 智能机柜
                    hr
                    div.content
                      p 智能机柜指具备智能恒温、智能恒湿、供电系统监测与控制、防入侵门禁及柜门状态监控系统、远程集中管控等功能的现代化智能型机柜。
            .col.s12.m12.l6
              ul.collapsible-s.zyyw(data-collapsible="accordion")
                li
                  .collapsible-s-header
                    div.ckxq 主营业务
                    div.inner
                      img.responsive-img(src='images/shardware/shardware-zyyw.svg')
                  .collapsible-s-body
                    div.title
                      span 主营业务
                    hr
                    div.content
                      p 公司拥有经验丰富的研发团队，长期专注于实时数据系统的研发制造，利用最新的互联网技术、物联网及云计算技术，持续创新， 拥有自主知识产权和多项专利技术的实时数据云平台CIP（Cloud Insight Platform，云见），为用户提供全方位的实时数据管理与服务。“智慧云平台，数据见未来”，通过开放、简单、高效的云见管理平台，洞悉数据中心及物联网的未来世界。

    //.warp-content
    //  .container
    //    .row
    //      .normal-content
    //        .col.s2.l1(style="height:56px;")
    //          img(src='images/shardware/shardware-znjg.svg' style="height:100%;")
    //        //.col.s2.l1
    //        //  i.material-icons.md-48.md-grey.title-left-img &#xe3ea;
    //        .col.s10.title-height(style='text-align:left')
    //          span.main-title.module-title-size.cloud-content-title 智能机柜
    //      .col.s12.m9.offset-m1
    //        .text-content.introduction-content 深圳云联讯数据科技有限公司（简称“云联讯”），创立于2012年，是业界领先的实时数据云平台提供商。公司拥有经验丰富的研发团队，长期专注于实时数据系统的研发制造，利用最新的互联网技术、物联网及云计算技术，持续创新， 拥有自主知识产权和多项专利技术的实时数据云平台CIP（Cloud Insight Platform，云见），为用户提供全方位的实时数据管理与服务。
    //    .row
    //      .normal-content
    //        .col.s2.l1(style="height:56px;")
    //          img(src='images/shardware/shardware-zyyw.svg' style="height:100%;")
    //        //.col.s2.l1
    //        //  i.material-icons.md-48.md-grey.title-left-img &#xe42b;
    //        .col.s10.title-height(style='text-align:left')
    //          span.main-title.module-title-size.cloud-content-title 主营业务
    //      .col.s12.m9.offset-m1
    //        .text-content.introduction-content 公司拥有经验丰富的研发团队，长期专注于实时数据系统的研发制造，利用最新的互联网技术、物联网及云计算技术，持续创新， 拥有自主知识产权和多项专利技术的实时数据云平台CIP（Cloud Insight Platform，云见），为用户提供全方位的实时数据管理与服务。“智慧云平台，数据见未来”，通过开放、简单、高效的云见管理平台，洞悉数据中心及物联网的未来世界。
    include templates/layout/footer
    script.
      $(function () { //banner switch(picture) in mobile
        if (!!window.ActiveXObject || "ActiveXObject" in window) {
          console.log('你是使用IE浏览器');
        $('.shardware .znjg .collapsible-s-header .inner').css('padding','20%');
        $('.shardware .zyyw .collapsible-s-header .inner').css('padding','20%');
        }

        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }

        }
        $(window).on('resize', resize).trigger('resize');
      })


