//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.smart-home-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  智能家居
        div.background-style
        .container-banner-content-subtitle.center 依赖homekit及云联讯平台，实现万物智联，即插即用，简单构建高效的住宅设施与家庭日程事务的管理系统。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-1
      .section-index-0
        .container(style="width:90%;padding-top:80px;")
          .row
            .title.center-align 智能家居
            div.background-style
            .subtitle.center-align(style="margin-top:10px;") 我们希望重新定义联网家居，实现物品的高速连接，互动性及智能性，从而实现真正的家居智能。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/2D3D.svg')
                .col.s6.m12
                  div.card-title.center 设备即插即用
                  p.card-text.center 提供nanopi电子板及配套小米设备，上电自动检索查询设备，iPhone智能家居添加配件。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/electronic-map.svg')
                .col.s6.m12
                  div.card-title.center 数据管理
                  p.card-text.center 让房间所有的数据全部上线，可在平台实时监控，同一网段下，iPhone设备可更加直观的显示。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/thermal-field.svg')
                .col.s6.m12
                  div.card-title.center 实时监控
                  p.card-text.center 让数据中心动力和环境系统运行状况尽在掌握，实现自动化值守，一台iPhone，尽在掌握。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/capacity-management.svg')
                .col.s6.m12
                  div.card-title.center 快速添加设备
                  p.card-text.center 只需修改简单配置，就可接入智能设备，iPhone设置场景，实现自动化管理。
  include templates/layout/footer
