doctype html
html
  include templates/_layout/head
  body
    include templates/_layout/nav
    .section_bigbanner
      .section_bigbanner_container(data-image-l="images/solution/solution-02.jpg" data-image-s="images/solution/solution-02-mobile.jpg")
        img.responsive-img(src='./images/solution.jpg')
        //.banner-text-height

    .warp-content
      .section_background
        .container
          .row.section_row
            a(href='./dcim.html')
              .col.news-section.s12.m12.l6.cloud-section-content
                img.news_image(src='images/solution/solution-dcim.jpg')
                .main-title.news-title 云平台数据中心基础设施管理（DCIM）系统
                .text-content.news-info.left-align 通过收集和管理数据，包括数据中心的资产、资源利用情况和整个数据中心的生命周期的运行状态的数据，然后将这些信息以分布、集成、分析和应用的方式，帮助管理者满足业务和面向服务的目标，优化数据中心的性能。”

            a(href='./wlw.html')
              .col.news-section.s12.m12.l6.cloud-section-content
                img.news_image(src='images/solution/solution-wlw.jpg')
                .main-title.news-title 云平台物联网服务
                .text-content.news-info.left-align 物联网基于云计算平台和智能网络，可以依据传感器用获取的数据进行决策，改变对象的行为控制和反馈，利用互联网等通信技术把传感器、控制器、机器、人员和一切设备通过信的方式联在一起，形成人与设备、设备与设备相联，实现信息化、远程管理控制和智能化网络。

            a(href='./mornitoring.html')
              .col.news-section.s12.m12.l6.cloud-section-content
                img.news_image(src='images/solution/solution-monitor.jpg')
                .main-title.news-title 机房动力与环境监控系统
                .text-content.news-info.left-align 动环监控是指针对各类机房中的动力设备及环境变量进行集中监控，即：动力环境监控[1]  。一套完善的综合动力环境监控系统可以对分布的各个独立的动力设备和机房环境、机房安保监控对象进行遥测、遥信等采集，实时监视系统和设备、安保的运行状态，记录和处理相关数据，及时侦测故障，并作必要的遥控、遥调操作，适时通知人员处理；实现机房的少人、无人值守，以及电源、空调的集中监控维护管理，提高供电系统的可靠性和通信设备的安全性，为机房的管理自动化、运行智能化和决策科学化提供有力的技术支持。



    //.warp-content(style="margin-bottom:48px;")
    //  .container
    //    .row
    //      a(href="./dcim.html")
    //        .normal-content
    //          .col.s2.l1(style="height:56px;")
    //            //img.title-left-img(src='./images/jzl.png')
    //            //i.material-icons.md-48.md-grey.title-left-img &#xe871;
    //            img(src='images/solution/solution-001.svg' style="height:100%;")
    //          .col.s10.title-height(style='text-align:left')
    //            span.main-title.module-title-size.cloud-content-title 数据中心DCIM系统
    //      .normal-content
    //        .col.s12.l4
    //          img.materialboxed.responsive-img(src='images/solution/solution-001.jpg')
    //        a(href="./dcim.html")
    //          .col.s12.l7(style='text-align:left')
    //            .text-content.text-content-solution 数据中心基础设施系统通过持续收集和管理数据中心的资产、资源以及各种设备的运行状态，然后通过分析、整合提炼成有用的数据，从而帮助数据中心管理者管理数据中心并优化性能。
    //    .row
    //      a(href="./wlw.html")
    //        .normal-content
    //          .col.s2.l1(style="height:56px;")
    //              img(src='images/solution/solution-002.svg' style="height:100%;")
    //              //i.material-icons.md-48.md-grey.title-left-img &#xe922;
    //          .col.s10.title-height(style='text-align:left')
    //            span.main-title.module-title-size.cloud-content-title 物联网应用
    //      .normal-content
    //        .col.s12.l4
    //          img.materialboxed.responsive-img(src='images/solution/solution-002.jpg')
    //        a(href="./wlw.html")
    //          .col.s12.l7(style='text-align:left')
    //            .text-content.text-content-solution  物联网基于云计算平台和智能网络，可以依据传感器用获取的数据进行决策，改变对象的行为控制和反馈，利用互联网等通信技术把传感器、控制器、机器、人员和一切设备通过信的方式联在一起，形成人与设备、设备与设备相联，实现信息化、远程管理控制和智能化网络。
    //    .row
    //      a(href="./mornitoring.html")
    //        .normal-content
    //          .col.s2.l1(style="height:56px;")
    //              img(src='images/solution/solution-003.svg' style="height:100%;")
    //              //i.material-icons.md-48.md-grey.title-left-img &#xe911;
    //          .col.s10.title-height(style='text-align:left')
    //            span.main-title.module-title-size.cloud-content-title 机房动力与环境监控系统
    //      .normal-content
    //        .col.s12.l4
    //          img.materialboxed.responsive-img(src='images/solution/solution-003.jpg')
    //        a(href="./mornitoring.html")
    //          .col.s12.l7(style='text-align:left')
    //            .text-content.text-content-solution  动环监控是指针对各类机房中的动力设备及环境变量进行集中监控，即：动力环境监控[1]  。一套完善的综合动力环境监控系统可以对分布的各个独立的动力设备和机房环境、机房安保监控对象进行遥测、遥信等采集，实时监视系统和设备、安保的运行状态，记录和处理相关数据，及时侦测故障，并作必要的遥控、遥调操作，适时通知人员处理；实现机房的少人、无人值守，以及电源、空调的集中监控维护管理，提高供电系统的可靠性和通信设备的安全性，为机房的管理自动化、运行智能化和决策科学化提供有力的技术支持。
    include templates/_layout/footer
    script.
      $(function () { //banner switch(picture) in mobile
        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }

        }
        $(window).on('resize', resize).trigger('resize');
      })
