doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .medium-3
      .synopsis-medium-3-1
        .row.center(style='margin-bottom:0px;margin-top:10px;')
          img.synopsis-img(src="./images/svg/synopsis.svg")
        .title-1.center-align.white-font(style='color:#03a9f4;') 公司简介
    .recruitment-medium-1
      .row
        .section-index-0
          .row(style='padding:30px 8%;padding-top:60px;')
            .col.s12.m12.l12
              div.center
                div.card-title.center CLCDATA
                div.background-style
            .col.s12.m12.l12
                .subtitle.text-indent-2 云联讯数据科技有限公司（CLC-DATA）,创立于2015年深圳前海。团队拥有20万基站接入电信监控系统和预算8000万美金的全球数据中心基础设施管理平台的设计、开发、销售和运维经验。从创立以来的一次次飞跃不仅是云联讯人热爱追求的结果，更是梦想力量的体现。
            .col.s12.m12.l12
                .subtitle.text-indent-2 人们就好像相近配置的计算机。同为满负荷运转，多任务且不断终止和新启进程的，远不如持续运行单任务的运算量。 而人只有不变的热爱才能排除复杂的干扰，始终如一的为追求不变的热爱而付出，创造更大价值带来更多的财富。那不变的热爱就是梦想。
          .col.s12.m12.l12
            div.center
              div.card-title.center 联系我们
              div.background-style
          .row.contact-us-title
              .col.s6.m6.l6
                  .subtitle 客户服务
              .col.s6.m6.l6
                  .subtitle 联系方式
          .row.contact-us
              .col.s6.m6.l6
                  .subtitle 服务热线:18938884911(杨)
              .col.s6.m6.l6
                  .subtitle 招聘电话:18938884911(杨)
          .row.contact-us
              .col.s6.m6.l6
                  .subtitle dow@clcdata.com
              .col.s6.m6.l6
                  .subtitle 公司地址:深圳南山科技园讯美科技广场1栋905
          .col.s12.m12.l12(style='padding-top:60px;')
            div.center
              div.card-title.center 专利/版权
              div.background-style
          .col.s12.m12.l12(style='padding-bottom:60px;')
              .subtitle.center-align CLC-DATA拥有13项发明专利和7项软件著作权，提供数据中心和电力能源领域成熟解决方案，面向实时数据为客户提供按需定制服务。
    .medium-5
      div.picture-opacity-1
      .section-index-0
        .container.index-medium-5-1
          .row.center
            div.index-text-background
              .title-2.center-align 在行动
            .col.s12.m4
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.left
                      span.card-icon(style='margin-left:-10px;')
                        img(src='./images/svg/innovate.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju 创新为核心
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 公司的多个部门除研发大量的新技术外，我们还拥有一个共同的目标，即致力于发明新的方法来改进行业技术。
            .col.s12.m4
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.left
                      span.card-icon(style='margin-left:-10px;')
                        img(src='./images/svg/innovate2.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju 很多人认为不可能的事
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') CLC-DATA是谁？CLC-DATA就是工程师，我们拥有不同的文化背景和独特的视角。然而我们都拥有一个共同的目标--不断取得技术的突破。
            .col.s12.m4
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.left
                      span.card-icon(style='margin-left:-10px;')
                        img(src='./images/svg/innovate3.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju  更多挑战
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 我们毫不质疑这些现实，我们反而一再挑战自己，站在产品/研发/设计等自问如何从业务运营的每一环节来着手应对。
    .synopsis-medium-3-1
      .row.center(style='margin-bottom:0px;')
        img.synopsis-img(src="./images/svg/news1.svg")
        .title-1.center-align.white-font(style='color:#03a9f4;') 新闻中心
          a(href='./news.html')
            img.center(src='./images/svg/getinto.svg',style='width:20px;margin-left:20px;')
  include templates/layout/footer
