doctype html
html
  include templates/_layout/head
  body
    include templates/_layout/nav
    .section_bigbanner
      .section_bigbanner_container(data-image-l="images/wlw/iot.jpg" data-image-s="images/wlw/iot-mobile.jpg")
        img.responsive-img(src='./images/iot.jpg')
        //.banner-text-height
    .warp-content(style="margin-top:-20px;")
      .container.text-content
        .row
          .col.s12.mon-comm
            .card(style="box-shadow:0 0px 0px 0 rgba(0,0,0,0.16),0 1px 2px 0 rgba(0,0,0,0.12);")
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src="images/wlw/net-wear.jpg")
              .card-content
                span.card-title.activator.grey-text.text-darken-4 可穿戴智能设备
                p 作为新兴类别的终端，我们使可穿戴产品成为我们日常生活的延伸，我们可选择通过或不通过智能手机进行工作。</br>可穿戴设备不仅是一种时尚表现，而且是我们日常生活的延伸。 从追踪健康信息到改进连接方式，我们将开创这样一个未来，可穿戴设备成为我们获取所需更丰富咨询的主要来源。 因此这就是采用我们的技术、平台和专业知识构建几个新型的可穿戴设备类别，包括信息娱乐、健身、医疗保健等的原因所在。
            .card(style="box-shadow:0 0px 0px 0 rgba(0,0,0,0.16),0 1px 2px 0 rgba(0,0,0,0.12);")
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src="images/wlw/net-car.jpg")
              .card-content
                span.card-title.activator.grey-text.text-darken-4 互联网汽车
                p 云联讯公司将创新长期致力于实现更智能、更美好的互联世界。 但为了真正保持互联，我们需要关注将我们带往各处的车辆。 凭借专业知识、经验和汽车行业的支持，云联讯公司为汽车带来了下一代互联功能，催生出智能、更自主、更清洁和更安全的驾驶体验。</br>物联网的定义是通过射频识别（RFID）、红外感应器、全球定位系统、激光扫描器等信息传感设备，按约定的协议，把任何物品与互联网相连接，进行信息交换和通信，以实现对物品的智能化识别、定位、跟踪、监控和管理的一种网络。
            .card(style="box-shadow:0 0px 0px 0 rgba(0,0,0,0.16),0 1px 2px 0 rgba(0,0,0,0.12);")
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src="images/wlw/net-house.jpg")
              .card-content
                span.card-title.activator.grey-text.text-darken-4 智能家居
                p 无论是智能手机、平板电脑、电视、电器或是安保系统，家是所有连接设备的运行场所。 因此我们希望构筑一个未来，让人们以简单的方式实现所有“物品”的高速连接、互动性与智能性，从而实现真正的家居智能。</br>让出行和休息更人性化，给大家创造一个现代感智能化的温馨家庭，体验物联网+带来的亲身感受。




            //.card.blue-grey.lighten-1(style="margin-bottom:50px;")
            //  .card-content.white-text
            //    span.card-title 物联网
            //    p.text-indent-2 基于云计算平台和智能网络，可以依据传感器用获取的数据进行决策，改变对象的行为控制和反馈，利用互联网等通信技术把传感器、控制器、机器、人员和一切设备通过信的方式联在一起，形成人与设备、设备与设备相联，实现信息化、远程管理控制和智能化网络。
                //hr
                //h5 功能
                //.row.wlw_co_w
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_gn_1.png")
                //      div
                //         div(style="height:26px;") 消息分发
                //         div(style="min-height:26px;line-height:26px;") 基于mqtt协议，消息分发能力强大
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_gn_2.png")
                //      div
                //        div(style="height:26px;") 事件警告
                //        div(style="min-height:26px;line-height:26px;") 操作简单，用户可自定义告警触发机制，准确迅速
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_gn_3.png")
                //      div
                //        div(style="height:26px;") 数据分析
                //        div(style="min-height:26px;line-height:26px;") 提供数据分析服务
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_gn_4.png")
                //      div
                //        div(style="height:26px;") 海量连接
                //        div(style="min-height:26px;line-height:26px;") 平台强大的承载能力，海量并发
                //h5 特色
                //.row.wlw_co_w
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_ts_1.png")
                //      div
                //        div(style="height:26px;") 开放API
                //        div(style="min-height:26px;line-height:26px;") 开放平台API，免费接入与调用
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_ts_2.png")
                //      div
                //        div(style="height:26px;") 开放设备协议
                //        div(style="min-height:26px;line-height:26px;") 开放设备协议，开源才能进步
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_ts_3.png")
                //      div
                //        div(style="height:26px;") 免费公共平台
                //        div(style="min-height:26px;line-height:26px;") 所有人都能接入与使用平台
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_ts_4.png")
                //      div
                //        div(style="height:26px;") 数据安全
                //        div(style="min-height:26px;line-height:26px;") 多年数据维护经验，数据安全有保障
    include templates/_layout/footer
    script.
      $(function () { //banner switch(picture) in mobile
        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }

        }
        $(window).on('resize', resize).trigger('resize');
      })
