//数据中心
doctype html
html
  include templates/_layout/head
  body
    include templates/_layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.video-picture-1
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  数据中心解决方案
        div.background-style
        .container-banner-content-subtitle.center 我们为工业和制造商提供一个平台，以迅速部署对数据和创新具有完全主权的高级分析。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-3
      .section-index-0
        .container.center(style="width:90%")
          .row.card-icon
            img(src="./images/svg/dcim.svg")
          .title-1.center-align 数据中心解决方案
            div.background-style
          .subtitle.center-align(style="margin-top:10px;") DCIM无缝连接数据中心IT基础设施和动力关键设备，将数据中心供给当作一个大的资源池进行调度和规划，提供基于实时数据驱动的动态容量管理。
          div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
    .medium-1-1-1
      .section-index-0
        .container(style="width:90%;padding-top:60px;")
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon.datacenter-margin-top
                    img(src='./images/svg/dcim.svg')
            .col.s12.m9.l10
              div.card-title.left DCIM
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon.datacenter-margin-top
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 微模块
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon.datacenter-margin-top
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 检方监控
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon.datacenter-margin-top
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 智能机柜
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
          .row(style='margin-bottom:80px;')
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon.datacenter-margin-top
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 连接管理
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    .medium-5
      .section-index-0
        .container(style="width:90%;")
          .row.center
            div.title-1(style='margin-bottom:35px;')
              a.waves-effect.waves-light.btn-large.dropdown-button(href="#!", data-activates="进入演示",style="background-color:#03A9F4;margin:140px auto 100px auto;color:#FFFFFF") 进入演示
                i.mdi-navigation-arrow-drop-down.right
            .col.s12.m4(style='color:#FFFFFF;')
              div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带
                p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
            .col.s12.m4
              div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带
                p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
            .col.s12.m4
              div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带
                p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
  include templates/_layout/footer


