.footer
  .container
    .row
      .col.s12.m12.l3
        .footer_col
          .footer_title
            a(href='./about.html') 公司简介
          .footer_title
            a(href='./job.html') 人才招聘
          .footer_title
            a(href='./solution.html') 方案集市
          .footer_title
            a(href='./cloudPlatform.html') 云平台
          .footer_title
            a(href='./sHardware.html') 智能硬件
      .col.s12.m12.l1.hidden-s
        .vertical_line
      .col.s10.offset-s1.m10.offset-m1.l4.weixin
        .inner
          .footer_col
            .bar_code
              img.responsive-img(src='images/weixin.jpg')
            .weibo_text
              .footer_image(src='iamges/weibo.png')
              span 官方微博
          .footer_col
            .bar_code
              img.responsive-img(src='images/weixin.jpg')
            .weibo_text
              .footer_image(src='iamges/wechat.png')
              span 官方微信
      .col.s12.m12.l1.hidden-s
        .vertical_line
      .col.s12.m12.l2
        .footer_col
          .footer_telephone 15989443381
          .footer_small (周一至周五 9:30-18:00)
          .footer_small 深圳市南山区讯美科技广场1栋9楼
.copyright
  .container
    .row
      .s12
        span Copyright © 2014
        span
          a(href='#') "深圳云联讯数据科技有限公司"
        span 粤ICP备15004925号&nbsp;&nbsp;
        //span
        //  a
        //    img(src='images/pic.gif')
script(type='text/javascript', src='js/jquery.min.js')
script(type='text/javascript', src='js/materialize.min.js')
script(type='text/javascript', src='js/swiper.jquery.min.js')
