.my-footer
  .medium-4
    .container(style='width:85%')
      .row
        .col.s12.m12.center
          img(src="./images/bott0m-logo.png")
      .row.footer-font-size-2(style='padding-left:10%;')
        .col.s3.m4.l1.footer-padding.center.offset-l2
          .col.s12.footer-font-size
            a(href='./real-time-data.html') 实时数据
          .col.s12.button-style-1.footer-font-size-1
            img(src='./images/svg/getintoblack.svg',style='width:25%;')
          .col.s12.footer-font-size-3
            div 云平台
          .col.s12.button-style-1.footer-font-size-1
            img(src='./images/svg/getintoblack.svg',style='width:25%;')
          .col.s12.button-style-1.footer-font-size-1
            div &nbsp
          .col.s12.button-style-1.footer-font-size-1
            div &nbsp
        .col.s3.m4.l1.footer-padding.center
          .col.s12.footer-font-size
            a(href='./data-center.html') 数据中心
          .col.s12.button-style-1.footer-font-size-1
            a(href='./facilities-management.html') DCIM
          .col.s12.button-style-1.footer-font-size-1
            a(href='./machine-room-monitoring.html') 机房监控
          .col.s12.button-style-1.footer-font-size-1
            a(href='./micromodule.html') 微模块
          .col.s12.button-style-1.footer-font-size-1
            a(href='./rack.html') 智能机柜
          .col.s12.button-style-1.footer-font-size-1
            a(href='./connection-management.html') 连接管理
        .col.s3.m4.l1.footer-padding.center
          .col.s12.footer-font-size
            a(href='./power-monitoring.html') 电力能效
          .col.s12.button-style-1.footer-font-size-1
            a(href='./electrical-energy.html') 电力能源
          .col.s12.button-style-1.footer-font-size-1
            a(href='./energy-management.html') 能源管理
          .col.s12.button-style-1.footer-font-size-1
            a(href='./metro-energy.html') 地铁能源
          .col.s12.button-style-1.footer-font-size-1
            div &nbsp
          .col.s12.button-style-1.footer-font-size-1
            div &nbsp
        .col.s3.m4.l1.footer-padding.center
          .col.s12.footer-font-size
            a(href='./new-energy.html') 新能源
          .col.s12.button-style-1.footer-font-size-1
            a(href='./photovoltaic-power-generation.html') 光伏发电
          .col.s12.button-style-1.footer-font-size-1
            a(href='./wind-power-generation.html') 风能发电
          .col.s12.button-style-1.footer-font-size-1
            a(href='./accumulation-system.html') 储能系统
          .col.s12.button-style-1.footer-font-size-1
            a(href='./charging-pile.html') 充电桩
          .col.s12.button-style-1.footer-font-size-1
            div &nbsp
        .col.s3.m4.l1.footer-padding.center
          .col.s12.footer-font-size
            a(href='./industry.html') 工业4.0
          .col.s12.button-style-1.footer-font-size-1
            a(href='./printer.html') 打印机
          .col.s12.button-style-1.footer-font-size-1
            a(href='./robot.html') 机器人
          .col.s12.button-style-1.footer-font-size-1
            a(href='./air-condition.html') 空调
          .col.s12.button-style-1.footer-font-size-1
            div &nbsp
          .col.s12.button-style-1.footer-font-size-1
            div &nbsp
        .col.s3.m4.l1.footer-padding.center
          .col.s12.footer-font-size
            a(href='./iot.html') 物联网
          .col.s12.button-style-1.footer-font-size-1
            a(href='./smart-home.html') 智能家居
          .col.s12.button-style-1.footer-font-size-1
            a(href='./smart-bracelet.html') 智能手环
          .col.s12.button-style-1.footer-font-size-1
            a(href='./environmental-monitoring.html') 环境监控
          .col.s12.button-style-1.footer-font-size-1
            a(href='./intelligent-hardware.html') 智能硬件
          .col.s12.button-style-1.footer-font-size-1
            div &nbsp
        .col.s3.m4.l1.footer-padding.center
          .col.s12.footer-font-size
            a(href='./synopsis.html') 关于
          .col.s12.button-style-1.footer-font-size-1
            a(href='./synopsis.html') 简介
          .col.s12.button-style-1.footer-font-size-1
            a(href='./news.html') 新闻
          .col.s12.button-style-1.footer-font-size-1
            a(href='./recruitment.html') 招聘
      .row
        .col.s12.m12.center.footer-font-size-1(style="margin-top:40px")
          div 版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号
script(type='text/javascript', src='js/jquery.min.js')
script(type='text/javascript', src='js/materialize.min.js')
script(type='text/javascript', src='js/swiper.jquery.min.js')
script(type='text/javascript', src='js/picture-carousel.js')
script(type='text/javascript', src='js/my.js')
