<div class="page-footer my-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <div class="footer-left-head-logo white-text">
          <div class="footer-logo"><img src="./images/logo-01.png"></div>
        </div>
        <div class="footer-left-content">
          <ul class="clearfix">
            <li class="left"><a href="./about.html">公司简介</a></li>
            <li class="left"><a href="./job.html">人才招聘</a></li>
            <li class="left"><a href="./solution.html">方案集市</a></li>
            <li class="left"><a href="./cloudplatform">云平台</a></li>
            <li class="left"><a href="shardware">智能硬件</a></li>
          </ul>
          <hr>
          <p>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</p><!--p 智慧云平台，数据见未来，通过开放、简单、高效的云见管理平台，洞悉数据中心及物联网的未来世界。--></div>
      </div>
      <!--.col.s12.l2.offset-l4--><!--  .footer-right-content--><!--    .iqrcode-head.hide-on-med-and-up 微信扫一扫-->
      <!--    .iqrcode--><!--      img.responsive-img(src="./images/weixin.jpg")-->
      <div class="col s12 l4 offset-l2">
        <div class="footer-right-head-logo white-text">
          <div class="footer-logo"><img src="./images/logo-01.png"></div>
        </div>
        <div class="footer-right-content">
          <div class="footer-right-head-text">相关链接</div>
          <hr>
          <ul class="clearfix">
            <li class="left"><a href="javascript:;" class="grey-text text-lighten-3"></a></li>
            <li class="left"><a href="javascript:;" class="grey-text text-lighten-3"></a></li>
            <li class="left"><a href="javascript:;" class="grey-text text-lighten-3"></a></li>
            <li class="left weixin"><a href="javascript:;" class="grey-text text-lighten-3"></a>

              <div class="qrcode"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--.footer-copyright--><!--  .container.center--><!--    span 版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号-->

</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="js/my.js"></script>
</html>
