<head>
  <meta content="webkit" name="renderer">
  <meta charset="utf-8">
  <title>云联讯-让万物智联</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="shortcut icon" href="img/favicon.ico">
  <!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')-->
  <link type="text/css" rel="stylesheet" href="css/g-icon.css">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection">
  <link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection">
  <link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection">
</head>
