head
  meta(name='renderer' content='webkit')
  title 云联讯-让万物智联
  meta(charset='utf-8')
  meta(name='description' content='云联讯-重新定义物联网边界')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1")
  link(rel='shortcut icon', href='img/favicon.ico')
  //link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  link(type='text/css',rel='stylesheet',href='css/g-icon.css')
  link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
  link(type='text/css', rel='stylesheet', href='css/swiper.min.css', media='screen,projection')
  link(type='text/css', rel='stylesheet', href='css/my.css', media='screen,projection')
  link(type='text/css', rel='stylesheet', href='css/picture-carousel.css', media='screen,projection')
