nav
  .nav-wrapper.container
    a.brand-logo(href='http://www.clcdata.com/newpage/index.html',style="padding-left:20px")
      img.logo-img-head(src='images/top-logo.png')
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.material-icons menu
    ul.right.hide-on-med-and-down(style="padding-right:13px")
      li
        a(href='./real-time-data.html',style="color:#333333") 实时数据
      li
        a(href='./cloud-platform.html',style="color:#333333") 云平台
      li.dropdown1
        a(href='./data-center.html',style="color:#333333") 解决方案
        div.line-height.dropdown-content1(style="color:#333333")
          a#nav(href='./data-center.html')
            p 数据中心
          a#nav(href='./power-monitoring.html')
            p 电力能效
          a#nav(href='./new-energy.html')
            p 新能源
          a#nav(href='./industry.html')
            p 工业4.0
          a#nav(href='./iot.html')
            p 物联网
      li.dropdown1
        a(href='./synopsis.html',style="color:#333333") 关于
        div.line-height.dropdown-content1(style="color:#333333")
          a#nav(href='./synopsis.html')
            p 简介
          a#nav(href='./news.html')
            p 新闻
          a#nav(href='./recruitment.html')
            p 招聘
    ul#mobile-demo.side-nav
      li
        a(href='/real-time-data.html',style="color:#333333") 实时数据
      li
        a(href='./cloud-platform.html',style="color:#333333") 云平台
      li
        ul.collapsible.collapsible-accordion
          li
            a.collapsible-header.waves-effect.waves-teal(style="color:#333333") 解决方案
            div.collapsible-body(style='display: none;')
              ul
                li
                  a(href='./data-center.html') 数据中心
                li
                  a(href='./power-monitoring.html') 电力能效
                li
                  a(href='./new-energy.html') 新能源
                li
                  a(href='./industry.html') 工业4.0
                li
                  a(href='./iot.html') 物联网
      li
        ul.collapsible.collapsible-accordion
          li
            a.collapsible-header.waves-effect.waves-teal(style="color:#333333") 关于
            div.collapsible-body(style='display: none;')
              ul
                li
                  a(href='./synopsis.html') 简介
                li
                  a(href='./news.html') 新闻
                li
                  a(href='./recruitment.html') 招聘
