.medium-2
  .medium-2-1
    .news1 动态新闻
    .news2 合适的设备将为您一整天的生活带来便利。
    .news3(style='display:inline') 2017-05-09&nbsp
    .news4(style='display:inline')
      img(src='./images/Enter-arrow.png')
    .news5(style='display:inline') 查看所有新闻
