.section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
  div.video-picture
    div.video-video
      video.responsive-video(autoplay loop style='width:100% !important;')
        source(src="./images/video_nautilian_platform.mp4" type="video/mp4")
  div(style="position:absolute;width:100%;height:100%;z-index:-1;background-color:#000000;background-repeat:no-repeat;opacity:0.3;")
  .container(style='z-index:2;')
    //img(src='./images/index-banner-words.png')
    .container-banner-content-title.center  实时数据驱动的云平台
    div.background-style
    .container-banner-content-subtitle.center 物联网、云和大数据这三者相辅相成、互为依托，其核心点是：以数据为基础进行技术创新。云联讯实时数据驱动的云平台，让您把握住技术发展规律，在这样创新的变革大潮中，运筹帷幄，最终决胜千里。
  .mouse(style='z-index:2;')
    img(src="./images/subscript.png")
